/* ==UserStyle==
@name         GitHub-Moonlight
@namespace    https://github.com/brettm12345/github-moonlight
@version      0.1.5
@description  A dark blue github theme
@author       brettm12345 <brettmandler@gmail.com> (https://github.com/brettm12345)
@homepageURL  https://github.com/brettm12345/github-moonlight
@supportURL   https://github.com/brettm12345/github-moonlight/issues
@updateURL    https://github.com/brettm12345/github-moonlight/raw/master/github.user.css
@preprocessor uso
==/UserStyle== */
@-moz-document domain('github.com')
  @require './src'
@-moz-document domain('gist.github.com')
  @require './src/gist'
