.code-review.blob-code.blob-code-context
  c 0 0 4
#js-repo-pjax-container,
.pr-toolbar
  c 0 0 2
.__better_github_pr
  &_resizer
    c 0 0 2
  &_dark_mode
    ../, &
      c fg("primary") 1 4
  .github-pr-file.github-pr-file-highlight, & .tree-view_item:hover
    c 0 0 7
