.code-review.blob-code.blob-code-context
  c 0 0 $base4
#js-repo-pjax-container,
.pr-toolbar
  c 0 0 $base2
.__better_github_pr
  &_dark_mode
    ../, &
      c $text $base1 $base4
  .github-pr-file.github-pr-file-highlight, & .tree-view_item:hover
    c 0 0 $base7
