.code-review.blob-code.blob-code-context
  c 0 0 $alt
#js-repo-pjax-container, .pr-toolbar
  c 0 0 $bg
.__better_github_pr
  &_dark_mode
    ../, &
      c $text $border $alt
  .github-pr-file.github-pr-file-highlight, & .tree-view_item:hover
    c 0 0 $icon
