.gitako-
  &ready .js-header-wrapper
    c 0 0 $base2
  &toggle-show-button-wrapper
    .action-icon
      .octicon
        ease color, opacity
        o 0.2
        &:hover
          c $blue
          o 1
    &.collapsed
      c 0 $base1 $base5
      m 1%
      .action-icon
        c $blue
  &side-bar
    &, ../resize-handler
      c 0 $base1 $base1
    & &-body
      brc $base1
      c 0 $base1 $base4
      .octicon
        c $indigo
        ease color, opacity
        o 0.4
        &:hover, &:focus
          c $blue
          o 1
      .gitako-settings-bar
        &-title
          btc $base1
        &-content .shadow-shelter
          c 0 $base1 $base4
        &, .header-row
          c $text $base1 $base4
      &, ../-content
        .meta-bar
          c $text $base1 $base4
        .file-explorer
          .search-input-wrapper input[type="text"].form-control
            b 1px
            r 0
          .no-results
            c $faded
          .node-item
            c $text $base1
            &-row
              c 0 0 $base5
