@require "better-pull-requests"
@require "gitako"

.dashboard .js-all-activity-header + div
  c 0 $base1 $base4
a.module-linker
  c $green
.lovely-forks-addon
  c $text
  o 0.7
.hide-files-btn:hover
  c $blue
