a.module-linker
  c inherit
  --hover-colour v("teal")
  $ballColors = {
    default: v("cyan")
    docs: v("purple")
    external: v("blue")
    maybe: v("yellow")
    relative: v("pink")
    stdlib: v("teal")
  }
  for $k, $v in $ballColors
    --ball-colour-{$k} $v
