.rgh-remove-diff-signs
  .dashboard
    .js-all-activity-header + div
      c 0 base(1) base(3)
      .Box
        c 0 0 $t
    .flex-items-baseline
      .f6.mt-2
        o 1
.rgh-collaborator
  b $b
.hide-files-btn
  &:hover, &:focus
    c $blue
button.reaction-summary-item
  c 0 base(1)
  img
    c 0 0 base(4)
  a
    c 0 0 base(3)
