:root
  --background: base(4)
.dashboard
  .js-all-activity-header + div
    c 0 base(1) base(4)
  .flex-items-baseline
    .f6.mt-2
      o 1
.rgh-collaborator
  b $b
.js-more-repos-form.ajax-pagination-form button
  c $blue 0 base(2)
button.reaction-summary-item
  c 0 base(1)
  a
    c 0 0 base(2)
