.dashboard
  .js-all-activity-header + div
    c 0 $base1 $base4
  .flex-items-baseline
    .f6.mt-2
      o 1
.rgh-collaborator
  b $b
button[data-disable-with='Loading more\\&hellip;']
  c 0 0 $base2
