.repository-content
  .bg-gray-dark.d-flex.flex-column.flex-auto.flex-justify-end
    c $text $base1 $base4
.CheckStep-line
  fn $monoFont
  fw 500
  &-number
    c $indigo
  &content
    c $text
  &:hover
    c 0 0 $base5
