.repository-content
  .bg-gray-dark.d-flex.flex-column.flex-auto.flex-justify-end
    c fg("primary") base(1) base(4)
.CheckStep-line
  set-font("mono")
  &-number
    c $indigo
  &content
    c fg("primary")
  &:hover
    c 0 0 base(5)
.d-flex[style*="opacity: 0.6"]
  o 1
.Box.rounded-2.d-flex.flex-column.overflow-hidden.width-full.flex-auto.mb-4 .d-flex.flex-justify-between.px-4.pt-3.pb-4
  c 0 0 base(6)
