.repository-content
  .bg-gray-dark.d-flex.flex-column.flex-auto.flex-justify-end
    c $text $border $alt
.CheckStep-line
  fn monospace
  fw 500
  &-number
    c $indigo
  &content
    c $text
  &:hover
    c 0 0 $hl
