.avatar
  /.AvatarStack-body
    &, & ^[0]
      c 0 1 2
  &-child
    c 0 0 2
    elevation 1
  &&-more
    &, /.AvatarStack-right &
      bg base(3)
      &::before
        bg fg("secondary")
      &::after
        bg fg("gray")
