.signup-plan-card
  c fg("primary") base(1) base(5)
  &:hover
    c 0 0 base(8)
div[style*="height: 1px;"]
  c 0 0 base(1)
.showcase-page-pattern::after
  c 0 base(4) base(1)
.plan-
    &notice
      btc base(1)
    &choice
      c 0 base(1) base(3)
      ease background-color
      &--experiment
        experiment-color($sel, $color)
          &^[0]--{$sel}
            &.open, &.selected
              c 0 $color
              ~/-icon
                c 0 0 $color
        experiment-color('green', v("green"))
        experiment-color('purple', v("purple"))
      &.open, &.selected
        c 0 0 base(4)
.billing-
  &box-
    &progressBars span:nth-child(2)
      blc base(1)
    &accordian
      &-state .octicon
        c fg("gray")
        ../:hover &
          c fg("secondary")
  &plans
    tbody > .selected, .current
      c 0 0 base(5)
    .coupon
      &-label:after
        bbc v("teal")
      &.expiring td
        c v("yellow") v("yellow") t("yellow")
      td
        c v("teal") v("teal") t("teal")
  &line-item
    btc base(1)
  &manager-banner
    c 0 base(1) base(4)
    &-icon
      c fg("faded")
    &-title
      c fg("secondary")
    &-text
      c fg("primary")
.payment-history
  $statusColors = {
    currency: fg("primary")
    succeded: v("green")
    refunded: fg("faded")
    failed: v("red")
  }
  for $k, $v in $statusColors
    .{$k} .status
      c $v
  .failed, .refunded
    c 0 0 base(4)
.discounted-original-price
  c fg("faded")
.golden-ticket-banner
  btc v("yellow")
.bt-pp-cancel
  c v("red")
.paypal-container
  c 0 0 base(2)
.braintree-paypal-loggedin
  c 0 base(1)
