.blob-
  $states = {
    addition: 'teal'
    deletion: 'red'
  }
  for $k, $v in $states
    &code, &num
      &&-{$k}, &-{$k}
        c v($v) 0 t($v)
        ^[0]code-marker::before
          c v($v)
        .x
          c base(1) 0 v($v)
  &code, &num
    &&-expandable, &&-hunk
      c 0 0 base(7)
  &code
    c 0 0 base(3)
    &-inner
      c fg("primary")
      lh 1.8
      fs font("mono", "size")
      set-font "mono"
      &.highlighted, & .highlighted
        c 0 0 base(8)
  &num
    c fg("dark") base(1) base(2)
    fw 600
    &-expandable
      .diff, .directional
        &-expander
          ease background-color
          c 0 0 base(7)
          &:hover, &:focus
            c 0 dark("blue") dark("blue")
  &expanded
    & + tr:not(&), tr:not(&) + &
      & ^[0]num
        c 0 base(1) base(2)
      & ^[0]code
        c 0 base(1) base(3)
.CopyBlock
  b 1px solid $t
  ease border-color, background-color
  &:active, &:focus, &:hover
    c 0 base(1) base(7)
.TagsearchPopover-
  &item, &list-item
    &, {selector('.blob-', '&num, &code', '&, &-inner')}
      ease background-color
      c 0 0 base(4)
      ^[1]:hover &
        c 0 0 base(2)
.pl-token
  &.active, &:hover
    c 0 0 base(8)
