.blob-
  &code, &num
    &-expandable, &-hunk
      c 0 0 base(4)
  &code-
    &addition
      c 0 0 t("teal")
    &deletion
      c 0 0 t("red")
    &inner
      c fg("primary")
      fs 15px
      lh 1.8
      mono()
      &.highlighted, & .highlighted
        c 0 0 base(8)
    &addition
      .blob-code-marker::before
        c $teal
      .x
        c 0 0 $teal
    &deletion
      .blob-code-marker::before
        c $red
      .x
        c 0 0 $red
    &addition, &deletion
      .x
        c base(1)
  &num
    c base(9) base(1) base(4)
    fw 600
    &-expandable
      .diff, .directional
        &-expander:hover
          c 0 $blue $blue
  &expanded
    & + tr:not(&), tr:not(&) + &
      ~/code, ~/num
        c 0 base(1) base(4)
.CopyBlock
  b 1px solid $t
  ease border-color, background-color
  &:active, &:focus, &:hover
    c 0 base(1) base(7)
