*:not(code) .Box
  c 0 $base1 $base4
.Box
  &-body
    c 0 $base1
    .help
      c $faded
  &--responsive, &row--unread
    s inset 2px 0 0 $blue
  &--overlay
    c 0 $base1 $base2
    s-1()
  &-header
    c 0 $base1 $base4
    &--blue
      c $blue $base1 $base4
  &-footer
    c 0 $base1
  &-row
    &:first-of-type
      bt 0
    bt $b
    &--focus-gray.navigation-focus
      c 0 0 $base7
    &[style*="background"]
      c 0 0 $base8
  &&--condensed &-row
    c 0 $base1 $base4
  &-row--
    &gray
      c o o $base4
    &focus-gray
      c 0 0 $base5
    &yellow
      c $text $yellow $t
    ../--responsive &unread::before
      bgi none
      c 0 0 $blue
.tint-box
  c 0 0 $base4
.body > div.d-flex
  px 10px
