*:not(code) .Box
  c 0 base(1) base(4)
.Box
  &-body
    c 0 base(1)
    .help
      c fg("faded")
  &--responsive, &row--unread
    shadow inset 2px 0 0 $blue
  &--overlay
    c 0 base(1) base(2)
    elevation 1
  &-header
    b none
    c 0 base(1) base(4)
    m 0
    &--blue
      c $blue base(1) base(4)
  &-footer
    c 0 base(1)
  &-row
    &:first-of-type
      bt 0
    bt $b
    &[style*="background"]
      c 0 0 base(8)
  &&--condensed
    ^[0]-header
      c 0 0 base(2)
      & + ul
        br $b
    ^[0]-row
      c 0 base(1) base(3)
  &-row--
    &gray
      c o o base(4)
    &focus-gray
      c 0 0 base(3)
      &.navigation-focus
        c 0 0 base(6)
    &yellow
      c fg("primary") $yellow $t
    ../--responsive &unread::before
      bgi none
      c 0 0 $blue
.tint-box
  c 0 0 base(4)
.body > div.d-flex
  px 10px
