.boxed-group
  .Counter
    c fg("light") 0 base(7)
  &-table th
    c 0 base(1) base(4)
  &-warning
    c fg("light") v("yellow") t("yellow")
  &-list > li
    &:first-child
      bt $b
    bb $b
    &.selected
      c 0 base(4)
  &.dangerzone > h3
    c fg("light") v("red") t("red")
  &-inner
    c fg("primary")
    .help
      c fg("faded")
    &, ~/ .heading, ~/ > h3
      c 0 base(1) base(4)
      a^[0]-breadcrumb
        c fg("faded")
