.status-meta
  c fg("faded")
.branch-
  &name
    c fg("primary") base(1) base(8)
  &action-
    &state-clean
      & ^[1]body::before
        brc base(5)
    &item
      & + &, & + .mergeability-details
        c 0 base(1)
      &-icon.completeness-indicator
        .octicon
          vc base(1)
        &-success
          c base(1) 0 v("green")
        &-error
          c base(1) 0 v("red")
        &-problem
          c base(1) 0 v("yellow")
    &state-dirty &icon
      c 0 0 v("red")
      .octicon
        vc base(1)
    &state-clean &icon
      c 0 0 v("teal")
      .octicon
        vc base(1)
    &body
      b 0
      c 0 base(1) base(4)
      caret "right"
      .merge-
        &branch-form, &message
          c 0 base(1) base(4)
