.status-meta
  c fg("faded")
.branch-
  &name
    c fg("primary") 1 8
  &action-
    &item
      & + &, & + .mergeability-details, ~/body
        c 0 5
      &-icon.completeness-indicator
        for $x in ("success" "green") ("error" "red") ("problem" "yellow")
          &-{$x[0]}
            c 1 0 v($x[1])
        .octicon
          vc 1
    &body
      c 0 0 3
      caret "right"
      .merge-
        &branch-form, &message
          c 0 1 4
    for $x in ("dirty" "red") ("clean" "green")
      &state-{$x[0]}
        ^[1]body
          c 0 v($x[1])
          &::before
            brc v($x[1])
        ^[1]icon
          c 0 0 v($x[1])
          .octicon
            vc 1
