.btn
  &, &&-sm
    bgi none
    c fg("light") 1 5
    ease colors
    +disabled()
      c fg("faded") 1 5
    &:hover, &:focus
      bgi none
      c fg("light") 0 7
      shadow none
  &&-outline
    &, &.BtnGroup-item, &.tooltipped.tooltipped-sw
      ease all
      c 0 0 3
      hover 0 0 5
  &-mktg
    c fg("light") 1 rgba(black, 0.1)
  &-octicon
    c v("blue")
    hover fg("light")
    &-danger
      hover v("red")
.social-count
  c fg("secondary") 1 5
  hover fg("light")
