.legend li
  &[style*='#ebedf0']
    c 0 0 white
    o 0.05
  &[style*='#c6e48b']
    c 0 0 $blue
    o 0.25
  &[style*='#7bc96f']
    c 0 0 $blue
    o 0.5
  &[style*='#239a3b']
    c 0 0 $blue
    o 0.75
  &[style*='#196127']
    c 0 0 $blue
.graph-before-activity-overview
  c 0 0 $hl
.calendar-graph
  text
    &.wday,
    &.month
      fill $cn
  rect
    &[fill='#ebedf0']
      fill white
      o 0.05
    &[fill='#c6e48b']
      fill $blue
      o 0.25
    &[fill='#7bc96f']
      fill $blue
      o 0.5
    &[fill='#239a3b']
      fill $blue
      o 0.75
    &[fill='#196127']
      fill $blue
