cal($opacity, $target, $color = $calendar)
  .legend li[style*=\"{$target}\"]
    c 0 0 $color
    o $opacity
  .calendar-graph rect[fill=\"{$target}\"]
    o $opacity
    vc $color

cal(0.05, "#ebedf0", $indigo)
cal(0.25, "#c6e48b")
cal(0.5, "#7bc96f")
cal(0.75, "#239a3b")
cal(1, "#196127")

.activity-overview-box.border-top
  bt none
.graph-before-activity-overview
  c 0 0 base(4)
.calendar-graph text
  &.wday, &.month
    vc fg("light")
