cal($opacity, $target, $color = $teal)
  .legend li[style*=\"{$target}\"]
    c 0 0 $color
    o $opacity
  .calendar-graph rect[fill=\"{$target}\"]
    fill $color
    o $opacity

cal(0.05, "#ebedf0", $indigo)
cal(0.25, "#c6e48b")
cal(0.5, "#7bc96f")
cal(0.75, "#239a3b")
cal(1, "#196127")

.graph-before-activity-overview
  c 0 0 $hl
.calendar-graph text
  &.wday, &.month
    fill $cn
