$textColors = {
  gray-light: $textAlt
  blue: $blue
  gray: $text
  gray-dark: $text
  emphasized: $blue
  green: $green
  purple: $purple
  red: $red
}
map-record($textColors, '.text-', color)
$borderColors = {
  blue-light: $blue
  gray-dark: $base1
  lg-left: $base1
}
map-record($borderColors, '.border-', border-color)
$bgColors = {
  gray: $base4
  gray-light: $base4
  blue-light: $base4
  yellow-light: $yellowTrans
  purple-light: $purpleTrans
  blue: $base7
  blue-2: $blueTrans
  gray-dark: $base2
  gray-2: $base7
  white: $base5
  pending: $purple
}
map-record($bgColors, '.bg-', background-color)
for $direction in top left right bottom
  $x = 'border-' + $direction
  .{$x}
    {$x} $b $i
.border
  b $b
.text
  c $faded
div[style*="#fcfdfd"]
  c 0 0 $base4
path[fill="#eee"]
  v $base7
