$base2Colors = {
  gray: $base4
  gray-light: $base4
  blue-light: $base4
  yellow-light: $yellowTrans
  purple-light: $purpleTrans
  blue: $base7
  gray-dark: $base2
  gray-2: $base7
  white: $base5
  pending: $purple
}
$textColors = {
  gray-light: $textAlt
  blue: $blue
  gray: $text
  gray-dark: $text
  emphasized: $blue
  green: $green
  purple: $purple
  red: $red
}
.bg-
  for $k, $v in $base2Colors
    &{$k}
      c 0 0 $v
.text-
  for $k, $v in $textColors
    &{$k}
      c $v
