// Common styles
.commit-icon .octicon,
.commit-group-title .octicon-git-commit,
div[style="background-color: #fcfdfd"],
.conversation-list-heading .inner,
.email-format .email-hidden-toggle a,
nav.UnderlineNav + div.border.d-md-block,
.tint-box,
.copyable-terminal,
.capped-card-content,
#contributors-master svg.viz,
.timeline-commits .hidden-text-expander .ellipsis-expander,
.blob-num-expandable, .blob-num-hunk,
.blob-code-expandable, .blob-code-hunk
  c: 0 0 $alt

.discussion-sidebar-item+.discussion-sidebar-item,
.UnderlineNav,
.reaction-summary-item,
.comment-reactions.has-reactions,
.jump-to-suggestions-results-container .navigation-item,
.Box-footer,
.graphs.axis,
.dropdown-divider,
.blob-expanded + tr:not(.blob-expanded) .blob-code,
.blob-expanded + tr:not(.blob-expanded) .blob-num,
.blob-expanded .blob-num-hunk,
.TimelineItem-badge,
.avatar-before-user-status,
tr:not(.blob-expanded) + .blob-expanded .blob-code,
tr:not(.blob-expanded) + .blob-expanded .blob-num,
.branch-action-item + .branch-action-item, .branch-action-item + .mergeability-details,
.social-count,
.timeline-new-comment .previewable-comment-form .comment-body,
.listgroup,
.dashboard-rollup-items .body,
.saved-reply-form,
.Box-body,
.profile-rollup-summarized+.profile-rollup-summarized,
.file-diff-split .blob-code + .blob-num,
.orgs-help-shelf,
.ScreenshotCarousel,
.border-top,
.border-bottom,
.border-right,
.border-lg-left,
.Subhead,
.repository-lang-stats-graph
  c: 0 $border


*::placeholder { c: $faded; }
