code .link-gray
  fw 500
.signed-commit
  &-header
    c 0 $green $bg
  &-verified-label
    c $green
  &-badge.verified
    c $green $green $tealTrans
    fw 500
#first-time-contributor
  .Popover-message
    caret "right"
.commit
  &-author-section
    c $blue
  &-desc pre
    c 0 0 $alt
  &s-listing:before
    c 0 0 $hl
  &-group-title .octicon-git-commit
    c $text
  &-ref
    c $text $border $bg
    fn $monoFont
    fw 500
    .user
      c $blue
  &-sha
    c $yellow $border $hl
  & &-title,
  &-group-title
    &,
    a
      c $text
  &-tease
    c $blue $border $alt
    &-sha
      c $blue
    &-contributors
      bt $b
      c 0 0 $hover
.commits
  blockquote
    c $text
  &-list-item.navigation-focus
    c 0 0 $hover
.full-commit
  c $blue $border $alt
  p.commit-title
    c $blue
  .sha-block
    & > .sha
      c $blue
    c $faded
    fs 14px
    fw 500
  .commit-meta
    c 0 $border $hl
.file-commit-form--full
  c $text $border $bg
.commit-form
  caret "right"
  c 0 0 $alt
