.commit
  &-loader .loader-error
    c v("red")
  &-link
    c v("yellow")
  &-author-section
    c v("blue")
  &-desc
    &+^[0]-branches
      btc base(1)
    pre
      c fg("paragraph") 0 2
  &-icon .octicon, &-group-title .octicon-git-commit
    c fg("primary") 0 4
  &s-list-item
    &, &:hover
      c 0 0 $t
    &+&
      btc base(1)
  &-ref
    c fg("primary") 1 2
    set-font "mono"
    .user
      c v("blue")
  &-sha
    c v("yellow") 1 5
  & &-title .issue-link
    c v("blue")
  & &-title, &-group-title, a
    c fg("primary")
  &-tease
    c fg("gray") 1 4
    &-sha
      c v("yellow")
    &-contributors
      bt $b
      c 0 0 9
.commits
  blockquote
    c fg("primary")
  &-listing:before
    c 0 0 5
  &-list-item
    c 0 0 4
    &+&
      btc base(1)
    +nav-focus()
      c 0 0 5
    .commit-
      &desc pre, &author
        c fg("faded")
.full-commit
  &, & .commit-meta
    c 0 1 3
  .branches-list li
    c fg("gray")
    &.loading, &.pull-request
      c fg("faded")
  p.commit-title
    c v("light")
  .sha-block
    c fg("faded")
    fs 14px
    fw 500
    & > a
      c fg("primary") 6
      hover 0 1
    & > .sha
      c v("blue")
.file-commit-form--full
  c fg("primary") 1 2
.commit-form
  c 0 0 4
  caret "right"
.line-comments
  /.diff-table tr:not(:last-child) &
    c 0 1
  /.empty-cell + &, & + &
    blc 1
.commit-build-statuses
  c fg("faded")
  hover v("blue")
-expander
  .ellipsis&, .hidden-text& a
    c fg("primary") 0 7
