comment
  /.review-
    &^[0]
      c fg("primary") base(1) base(4)
    &thread-reply
      c 0 base(1) base(3)
      .inline-^[0]-form
        c 0 0 base(3)
  &-form
    .previewable-&
      c 0 base(1) base(3)
      .^[1]-head.tabnav
        c 0 0 base(4)
        /.page-responsive &
          c 0 0 base(3)
        .tabnav-tab
          c 0 0 base(2)
          &.selected, &[aria-selected="true"], &[aria-current]
            c fg("light") 0 base(3)
    .&-textarea.dragover
      c 0 $blue
    .&-error
      c $red $red t("red")
  .&-
    &reactions
      .user-has-reacted
        c 0 base(1) base(5)
      &.has-reactions
        c 0 base(1) base(4)
conversation-list
  .&-heading
    c fg("faded") base(1)
    .inner
      b $b
      c fg("faded") 0 base(4)
      p 0 10px
      r 2px
  .simple-&
    c fg("faded")
    & > li
      c 0 base(1)
