v($x)
  var(s("--%s", unquote($x)))
fg($x)
  v(s("text-%s", unquote($x)))
selection($x)
  v(s("selection-%s", unquote($x)))
font($x)
  v(s("%s-font", unquote($x)))
t($x)
  v(s("%s-transparent", unquote($x)))
light($x)
  v(s("%s-light", unquote($x)))
dark($x)
  v(s("%s-dark", unquote($x)))
scrollbar($x)
  v(s("scrollbar-%s", unquote($x)))
base($x)
  v(s("base-%s", $x))

$calendar = v("calendar")
$blue = v("blue")
$cyan = v("cyan")
$green = v("green")
$indigo = v("indigo")
$orange = v("orange")
$pink = v("pink")
$purple = v("purple")
$red = v("red")
$teal = v("teal")
$yellow = v("yellow")
