.dashboard
  .Details-content--hidden, :not(code) .Box
    c 0 0 base(3)
  .ajax-pagination-
    &form
      b none
    &btn
      b none
      bt $b
  .js-all-activity-header + div
    c 0 base(1) base(2)
    .Box
      c 0 0 base(3)
    & > div:last-of-type > .body > .border-bottom
      bb none
  &-notice
    b $b
    c 0 0 base(2)
    h2
      c fg("primary")
  &-rollup-items .body
    c 0 base(1)
  &-sidebar input[type="text"]
    c 0 0 base(6)
.repo-list
  p 0 12px
  &, &-item
    c 0 base(1) base(2)
.mini-repo-list-item
  bt $b
.navigation-focus
  c 0 0 base(9)
.team, .user-mention
  c fg("light")
.private .mini-repo-list-item
  c 0 0 base(2)
.content.p-4.text-center.rounded-1.border.border-gray-light
  c 0 0 base(2)
.application-main > .flex-wrap
  c 0 0 $t
.github-jobs-logo strong
  inv()
.news .Details button
  ease background-color, color
  &:hover
    c 0 0 base(4)
