.select-menu
  &-item
    tr background-color 0.1s ease-in-out
    &:hover
      c 0 0 $region
  &-modal-right.details-reset.details-overlay.mb-2,
  .js-org-filter-link.f6.py-1.pr-2.pl-1.rounded-1.mr-2.mb-2.subnav-item.css-truncate.css-truncate-target
    c 0 0 $alt
.profile-rollup-wrapper
  &+&
    bt $b
.activity-overview-
  &percentage
    fill $cn
  &label
    fill $faded
.ajax-pagination-
  &form &btn
    c 0 $border $alt
.user-profile-nav
  b $b
  px 10px
  r 8px
