.js-current .standalone a
  blc v("blue")
  c fg("light") 0 5
.sub-nav
  c 0 1
body table
  th
    c fg("primary") 1 2
  &, tr td
    c fg("primary") 1 4
$alertColors = {
  tip: "teal"
  note: "blue"
  warning: "yellow"
  product: "purple"
}
for $k, $v in $alertColors
  .alert.{$k}
    bg t($v)
    c fg("primary") v($v) t($v)
h1, h2, h3, h4, h5, h6
  c fg("primary")
ol > li::before
  brc base(1)
  c fg("primary")
.octokit-language span, .lead
  c fg("faded")
.libraries-jumbotron
  c fg("primary") 1 2
.command-line
  em
    c v("blue")
    td underline
  $rec = {
    comment: 'indigo'
    output: 'text-gray'
  }
  for $k, $v in $rec
    span.{$k}
      c v($v)
.content
  c fg("primary")
  ol li pre code
    c 0 0 2
    pd 8px
  /p, dl, h2, h3, h4, ol, table, ul
    & code, /pre, ^[0] p > tt, ^[0] .sectionbody .dlist dt, ^[0] .verseblock-content
      c fg("primary") 1 5
.headlines > li
  cursor pointer
  ease colors
  &:hover
    c 0 0 7
  &, .sidebar-module ul h3
    c fg("primary") 1
.published span
  c fg("secondary")
.headlines > li > a > .date
  c fg("dark")
.meta li
  c fg("faded")
.sub-nav ul
  & a
    ease colors
    c fg("faded")
    &.active
      c fg("light")
      fw 500
    &:hover
      c fg("primary")
  &, & a.active
    blc base(6)
.site-header-nav .dropdown-menu
  caret "bottom"
  a
    ease colors
    &:hover
      c fg("light") 0 3
code
  for $k, $v in $syntaxTokens
    .{$k}
      c v($v)
h1, h2, h3, h4, h5
  c fg("gray")
.card
  c 0 1 3
  ease colors
  /a&.bg-gray-light
    hover 0 0 6
.link-mono
  ease colors
  shadow 0 1px 0 0 t("blue")
  &:hover
    shadow 0 1px 0 0 v("blue")
.bg-
  &blue
    c 0 0 2
  &custom-gradient
    bg linear-gradient(180deg,base(3),$t)
.text-
  &black
    c fg("light")
  &alpha, &beta, &gamma, &delta
    c fg("gray")
.sidebar-
  &module
    c 0 1 5
    .disable > a
      c fg("light") 1 5
  &menu
    &, h3, ul ul li
      c fg("primary") 1 4
      &:hover, & a:hover
        c fg("light") 1 6
