.content
  c fg("primary")
.sidebar-menu
  c fg("primary") base(1) base(4)
  h3, ul ul li
    &:hover, & a:hover
      c fg("light") base(1) base(8)
    c fg("primary") base(1) base(4)
.js-current .standalone a, .sidebar-module .disable > a
  blc v("blue")
  c fg("light") base(1) base(5)
.sub-nav
  c 0 base(1)
body table
  th
    c fg("primary") base(1) base(2)
  tr td
    c fg("primary") base(1) base(4)
  c fg("primary") base(1) base(4)
.alert
  &.tip
    c fg("primary") v("teal") t("teal")
  &.note
    c fg("primary") v("blue") t("blue")
  &.warning
    c fg("primary") v("yellow") t("yellow")
  &.product
    bg t("purple")
    c fg("primary") v("purple") t("purple")
h1, h2, h3, h4, h5, h6
  c fg("primary")
.content ol li pre code
  c 0 0 base(2)
  p 8px
ol > li::before
  brc base(1)
  c fg("primary")
.octokit-language span,
.lead
  c fg("faded")
.libraries-jumbotron
  c fg("primary") base(1) base(2)
.sidebar-module
  c 0 base(1) base(5)
.command-line
  em
    c v("yellow")
  span
    &.comment
      c v("indigo")
    &.output
      c v("teal")
.content .sectionbody .dlist dt, .content .verseblock-content, .content dl code, .content h2 code, .content h3 code, .content h4 code, .content ol code, .content p > tt, .content table code, .content ul code, p code,
pre
  c fg("primary") base(1) base(5)
code
  .p
    c fg("primary")
  .nt
    c v("blue")
  .s, .s2
    c v("green")
  .ni
    c v("cyan")
  .na
    c v("red")
  .mf, .mh, .mi, .mo
    c v("orange")
