.diffstat
  c fg("gray")
  &-block-
    &neutral
      c 0 0 scrollbar("thumb")
    &added
      c 0 0 v("green")
    &deleted
      c 0 0 v("red")
  &-summary
    c fg("primary")
    strong
      c v("purple")
.diffbar
  c 0 0 2
.js-file-content
  c 0 0 4
.file-diff-split
  .empty-cell
    c 0 1 4
  .blob-
    &code + &num
      c 0 1
