.diffstat
  c $textGray
  &-block-
    &neutral
      c 0 0 $sb
    &added
      c 0 0 $green
    &deleted
      c 0 0 $red
  &-summary
    c $text
    strong
      c $purple
.diffbar
  c 0 0 $base2
.js-file-content
  c 0 0 $base4
.file-diff-split
  .empty-cell
    c 0 $base1 $base4
  .blob-
    &code + &num
      c 0 $base1
