.diffstat
  c fg("gray")
  &-block-
    &neutral
      c 0 0 scrollbar("thumb")
    &added
      c 0 0 $green
    &deleted
      c 0 0 $red
  &-summary
    c fg("primary")
    strong
      c $purple
.diffbar
  c 0 0 base(2)
.js-file-content
  c 0 0 base(4)
.file-diff-split
  .empty-cell
    c 0 base(1) base(4)
  .blob-
    &code + &num
      c 0 base(1)
