$commentDark = base(2)
$commentBg = base(3)

.markdown-toolbar.Details
  c 0 1
.pagination-loader-container
  bgi url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='44' height='34' viewBox='0 0 44 34'%3E%3Cpolyline points='0 21 22 8 44 21 44 26 22 13 0 26' fill='%232f334d'/%3E%3C/svg%3E")
  c 0 0 $t
.previewable-comment-form .comment-body
  bbc 1
.discussion-
  &item-
    &header
      c fg("dark")
    &icon
      c fg("primary") 5 7
  &timeline-actions
    c 0 5 $t
    .js-new-comment-form .timeline-comment
      c 0 0 $commentBg
  &sidebar-
    &toggle .octicon
      c fg("faded")
      ease colors
      &:hover, &:focus
        c v("blue")
    &heading
      c fg("primary")
    &item
      c fg("faded") 4
      fw 500
.TimelineItem
  &-badge
    c 0 5 4
    ~/:target &-bage
      c 0 v("blue")
    ~/--condensed &
      size 30px
  &-break
    c 0 4 $t
  &, .status-meta, .merge-pr-more-commits
    &:before
      c 0 0 5
    &-badge, &--condensed &-badge
      b 2px solid base(5)
      c 9 5 4
    &-body
      c fg("faded")
timeline
  .deployments-&
    bbc 1
    &-item
      blc 9
  .&-commits .hidden-text-expander .ellipsis-expander
    c 0 0 4
  .&-comment
    c fg("primary") 1 $commentBg
    /.composer.composer-responsive &
      caret "right" 2
    /:target &
      shadow 0 0 0 0.2em t("purple")
      &::before
        filter drop-shadow(-0.28em 0 0 t("purple"))
    &-wrapper
      b 0
      c 0 1
    &-label.tooltipped.tooltipped-s.tooltipped-multiline
      c v("purple") v("purple") t("purple")
    &-header
      c fg("light") 1 $commentDark
      .author
        c fg("light")
    &--caret
      &, &.current-user
        caret "right" $commentDark
comment
  .&-body.markdown-body
    .bg-gray-light
      c 0 0 $commentBg
    pre, .highlight pre, .blob-code, .blob-num
      c 0 0 $commentDark
  /.review-
    &^[0]
      c fg("primary") 1 $commentBg
      &:target
        elevation 1
    &thread-reply
      c 0 1 $commentBg
      .form-control
        c 0 0 $commentDark
      .inline-^[0]-form
        c 0 1 $commentBg
  &-form
    .previewable-&
      c 0 1 $commentBg
      textarea
        c 0 0 $commentDark
      & .^[1]-head.tabnav
        .tabnav-tab, &, /.page-responsive &, .toolbar-commenting
          c fg("dark") 0 $commentDark
        .tabnav-tab
          ease colors
          hover fg("primary")
          +selected()
            c fg("light") 1 $commentBg
    .&-textarea.dragover
      c 0 v("blue")
    .&-error
      c v("red") v("red") t("red")
  .&-
    &reactions
      .user-has-reacted
        c 0 1 5
      &.has-reactions
        c 0 1 $commentBg
conversation-list
  .&-heading
    c fg("faded") 6
    .inner
      b $b
      c fg("faded") 0 4
      p 0 10px
      r 2px
  .simple-&
    c fg("faded")
    & > li
      c 0 6
button.reaction-summary-item
  c 0 1
  img
    c 0 0 $commentBg
  a
    c 0 0 $commentDark
.js-reaction-option-item.border-gray-dark.bg-blue-light
  c 0 1 7
  r 4px
.bg-gray.p-2.js-resolvable-thread-toggler-container.border-bottom
  c 0 1 3
