.dropdown-
  &divider
    c 0 base(1)
  &signed-commit &menu-w
    caret "left" base(2)
  &menu
    &, &-dark
      c fg("primary") base(1) base(4)
      .octicon
        c $indigo
        o 0.6
        mb 3px
        mr 2px
      &-ne, &-nw, &-n
        caret "top" base(5)
      &-sw, &-se, &-s
        caret "bottom"
      &-w
        caret "right"
      &-e
        caret "left" base(2)
  &header
    c fg("faded")
  &item
    c fg("primary")
    ease background
    &:hover, &:focus
      c fg("light") 0 base(7)
