.dropdown-
  &divider
    c 0 1
  &signed-commit &menu-w
    caret "left" 2
  &menu
    &, &-dark
      c fg("primary") 1 4
      elevation 1
      .octicon
        c v("indigo")
        o 0.6
        mb 3px
        mr 2px
        &-check
          c v("green")
      &-ne, &-nw, &-n
        caret "top" 5
      &-sw, &-se, &-s
        caret "bottom"
      &-w, &-e
        caret "left" 2
  &header
    c fg("faded")
  &item
    c fg("primary")
    ease colors
    &:hover, &:focus
      c fg("light") 0 6
