.dropdown-
  &divider
    c 0 $border
  &signed-commit &menu-w
    caret "left" $bg
  &menu
    c $text $border $alt
    &:after
      border-bottom-color $border
  &item
    c $text
    &:hover, &:focus
      c $cn 0 $region
