.email-
  &format
    ~/hidden-toggle a
      c fg("primary") 0 4
      &:hover
        c 0 0 6
      &:active
        c 0 0 dark("blue")
    ~/quoted-reply, ~/signature-reply
      bd $b
      bl 4px solid v("blue")
      c fg("secondary") 1 3
      font-style italic
      py 6px
      rbr 6px
      rtr 6px
