.email-
  &format
    ~/hidden-toggle a
      c fg("primary") 0 base(4)
      &:hover
        c 0 0 base(6)
      &:active
        c 0 0 dark("blue")
    ~/quoted-reply, ~/signature-reply
      b $b
      bl 4px solid v("blue")
      c fg("secondary") base(1) base(3)
      font-style italic
      py 6px
      rbr 6px
      rtr 6px
