.email-
  &format
    ~/hidden-toggle a
      c $text 0 $base4
      &:hover
        c 0 0 $base6
      &:active
        c 0 0 $blueDark
    ~/quoted-reply, ~/signature-reply
      b $b
      bl 4px solid $blue
      c $textAlt $base1 $base3
      font-style italic
      py 6px
      rbr 6px
      rtr 6px
