.news
  .alert
    bt $b
  .Details
    &, &-content--hidden li, button
      btc base(1)
    button:hover
      bg $t
      td underline
div[style*="linear-gradient"]
  fade-out()
.exploregrid-item
  elevation 1
  hover 0 0 5
  &, /article.border-gray-light
    c 0 5 3
.newsletter-frequency-choice
  c 0 1
  r 8px
  h3
    c 0 1 5
.topic .bg-white
  c 0 0 3
article, .border.rounded-1.box-shadow-medium
  &.bg-white
    c 0 0 3
.tabnav-tabs[aria-label="Repository menu"] .tabnav-tab[aria-current]
  c fg("light") 0 4
