.filter-list.small
  c 0 0 transparent
.filter-item
  ease color, background-color, border-color
  /.filter-list:not(.small) &
    c $text 0 $base4
    ease color, background-color, border-color
    &:hover, &:focus
      c 0 0 $base6
    &.selected, &[aria-current], &[aria-selected=true]
      c $cn 0 $base5
  /.filter-list.small &
    c 0 0 transparent
    ease color, background-color
    &.selected, &[aria-current], &[aria-selected=true]
      c 0 0 $base7
    &:hover, &:focus
      c 0 0 $base7
