.filter-
  &list
    c 0 0 $t
    ~/item
      c 0 0 $t
      ease color, background-color, border-color
      &:hover, &:focus
        c 0 0 $base6
      &.selected, &[aria-selected="true"], &[aria-current]
        c $cn 0 $base5
