.filter-
  &list
    c 0 0 $t
    ~/item
      c 0 0 $t
      ease color, background-color, border-color
      &:hover, &:focus
        c 0 0 6
      &.selected, &[aria-selected="true"], &[aria-current]
        c fg("light") 0 5
