input
  caret-color v("blue")
  &[type="text"]
    c fg("light") 1 3
    ease colors
    &:focus
      c 0 v("blue") 5
.input-contrast
  box()
.write-content.js-write-bucket
  shadow none
.form-
  &group &control
    c fg("light") 1 4
    .search-input
      caret-color v("blue")
    &:focus
      c 0 v("blue") 7
      .form-control, .ais-SearchBox-input, .form-select
        &.focus, &:focus
          c 0 v("blue")
          shadow none
  &control
    &, ~/select
      c fg("light") 1 3
      ease colors
      shadow none
      &.focus, &:focus
        c fg("light") v("blue") 4
        shadow none
      ^[1].search-page-label.js-advanced-search-label
        &, & input
          c 0 0 5
