.form-
  &group &control
    c $cn $base1 $base4
    .search-input
      caret-color $blue
    &:focus
      c 0 $blue $base7
      .form-control, .ais-SearchBox-input, .form-select
        &.focus, &:focus
          c 0 $blue
          s none
  &control
    &, ../select
      ../.search-page-label.js-advanced-search-label
        &, & input
          c 0 0 $base5
      c $cn $base1 $base4
      s none
      &.focus, &:focus
        c $cn $blue 0
        s none
