input
  caret-color $blue
  &[type="text"]
    c fg("light") base(1) base(3)
    ease background-color, border-color
    &:focus
      c 0 $blue base(5)
.input-contrast
  box()
.drag-and-drop
  c $blue base(1) base(3)
.file
  &:target
    elevation 1
  &, &-wrap
    c 0 base(1)
  &-header
    c fg("light") base(1) base(4)
.form-
  &group &control
    c fg("light") base(1) base(4)
    .search-input
      caret-color $blue
    &:focus
      c 0 $blue base(7)
      .form-control, .ais-SearchBox-input, .form-select
        &.focus, &:focus
          c 0 $blue
          shadow none
  &control
    &, ../select
      ../.search-page-label.js-advanced-search-label
        &, & input
          c 0 0 base(5)
      c fg("light") base(1) base(4)
      shadow none
      &.focus, &:focus
        c fg("light") $blue 0
        shadow none
.write-content.js-write-bucket
  shadow none
