.js-gist-file-update-container.js-task-list-container.file-box
  c 0 0 3
  pre
    c 0 0 4
.cm-s-github-light .CodeMirror-linenumber
  c v("indigo")
.application-main
  mb 16px
.pagehead
  c 0 0 2
.gisthead .pagehead-actions .octicon-mute
  vc fg("faded")
.reponav
  &-item-selected
    c 0 0 4
.gist-banner
  c 0 1 3
  &.gist-detail-intro
    bgi none
  .lead
    c fg("dark")
