.highlight-graphql
  colors({
    k: 'purple'
    n: 'orange'
  })
.history-, .doc-explorer-
  $rec = {
    contents: 2
    title-bar: 4
  }
  for $k, $v in $rec
    &{$k}
      c fg("primary") 1 base($v)
.CodeMirror
  /.result-window &
    c 0 0 4
  &-cursor
    blc v("blue")
  &-hint
    c fg("primary") 1 4
    ease colors
    &-information
      c v("indigo") 1 4
    &-active
      c fg("light") 0 8
      fw 500
  &-linenumber
    c v("indigo")
    fw 500
  &-gutters, &-gutter&-foldgutter
    c fg("primary") 1 4
  &.cm-s-graphiql
    c 0 0 4
iframe#graphiql
  c 0 6
  html::selection
    bd selection('border')
    c selection('fg') 0 selection('bg')
  body
    c 0 0 3
.graphiql-
  &ide
    btc base(1)
    c 0 1
  &container
    colors({
      arg-default-value: "text-gray"
      doc-explorer-back: "blue"
      arg-name: "pink"
      field-name: "blue"
      keyword: "purple"
      type-name: "yellow"
      field-short-description: "indigo"
    })
    & .history-contents p
      c fg("primary") 1
      &:hover, &.hover, &:active
        c 0 1 8
    {selector('.execute-options, .toolbar-menu-items, .toolbar-select-options', '& > li', '&:hover, &.hover, &:active')}
      c 0 1 8
    .show-btn
      c fg("primary") 1 3
      ease colors
      &:hover, &:focus
        c fg("light") 0 6
    .search-box
      c 0 0 2
      input
        c 0 0 2
    .result-window .CodeMirror-gutters
      c 0 1
    .doc-
      &deprecation
        c v("yellow") 0 t("yellow")
        shadow inset 0 0 1px v("yellow")
      &category-
        &item
          c fg("secondary")
        &title
          /.search-box, &
            c 0 6
          c fg("faded")
    .resultWrap
      blc base(1)
    .variable-editor-title, .docExplorerShow, .topBar
      bg base(4)
      c fg("primary") 1 4
    .docExplorerShow, .doc-explorer-back
      for $x in left top
        &::before
          border-{$x}-color v("blue")
    .toolbar-button, .execute-button
      bg base(2)
      shadow none
      svg
        vc fg("primary")
