.octicon
  color $text
  &-star
    v none $yellow
  /.starred &-star
    v $yellow
  &-repo
    &, &-push, &-forked
      mb 0.1em
  &.merged, &-git-pull-request
    c $purple
  &-file-directory, &-saved
    c $blue
  &-mute, &-repo
    c $faded
  &-play
    c $redLight
  &-x, &-trashcan
    c $red
  &-repo-push, &-check, &.open
    c $green
  &-rocket
    c $faded
  &[style*="#6a737d"]
    c $textGray
  &-inbox, &-alert, &-pencil, &-light-bulb
    c $yellow
  &-repo-forked, &-issue-opened
    c $teal
  &-issue-closed
    c $red
  &-project, &-eye
    c $blue
  &-package, &-rss, &-flame
    c $orange
  &-smiley, &-file
    c $indigo
.donut-chart
  .success
    v $green
  .failure
    v $red
