.octicon
  color fg("primary")
  /.draft&
    c fg("faded")
  /.closed&, /.reverted&
    c $red
  /.open&
    c $green
  /.merged
    c $purple
  &-star
    vc none $yellow
  /.starred &-star
    vc $yellow
  &-repo
    &, &-push, &-forked
      mb 0.1em
  &.merged,
    c $purple
  &-file-directory, &-saved
    c $blue
  &-mute, &-repo
    c fg("faded")
  &-play
    c light("red")
  &-x, &-trashcan
    c $red
  &-repo-push, &-check, &.open, &-git-pull-request
    c $green
  &-rocket
    c fg("faded")
  &[style*="#6a737d"]
    c fg("gray")
  &-inbox, &-alert, &-pencil, &-light-bulb
    c $yellow
  &-repo-forked, &-issue-opened
    c $teal
  &-issue-closed
    c $red
  &-project, &-eye
    c $blue
  &-package, &-rss, &-flame
    c $orange
  &-smiley, &-file
    c $indigo
.lfs-data-icon
  &, &.dark
    c fg("primary")
.donut-chart
  .success
    vc $green
  .failure
    vc $red
img[src*="octocat-spinner-64.gif"]
  inv()
