.octicon
  color fg("primary")
  /.draft&
    c fg("faded")
  /.closed&, /.reverted&
    c v("red")
  /.open&
    c v("green")
  /.merged
    c v("purple")
  &-star
    vc none v("yellow")
  /.starred &-star
    vc v("yellow")
  &-repo
    &, &-push, &-forked
      mb 0.1em
  &.merged
    c v("purple")
  &-file-directory, &-saved
    c v("blue")
  &-mute, &-repo
    c fg("faded")
  &-play
    c light("red")
  &-x, &-trashcan
    c v("red")
  &-repo-push, &-check, &.open, &-git-pull-request
    c v("green")
  &-rocket
    c fg("faded")
  &[style*="#6a737d"]
    c fg("gray")
  &-inbox, &-alert, &-pencil, &-light-bulb
    c v("yellow")
  &-repo-forked, &-issue-opened
    c v("teal")
  &-issue-closed
    c v("red")
  &-project
    c v("blue")
  &-package, &-rss, &-flame
    c v("orange")
  &-smiley, &-file
    c v("indigo")
.lfs-data-icon
  &, &.dark
    c fg("primary")
.donut-chart
  .success
    vc v("green")
  .failure
    vc v("red")
img[src*="octocat-spinner-64.gif"]
  inv()
