@require "actions"
@require "auth"
@require "autocomplete"
@require "avatars"
@require "branches"
@require "billing"
@require "blankslate"
@require "blob"
@require "box"
@require "boxed-groups"
@require "branch-actions"
@require "breadcrumb"
@require "buttons"
@require "calendar"
@require "capped-card"
@require "circle-badge"
@require "code-editor"
@require "code-search"
@require "color-replacements"
@require "comments"
@require "commit-activity"
@require "commits"
@require "compare-toc"
@require "containers"
@require "counter"
@require "dashboard"
@require "dashed-connection"
@require "details"
@require "diff"
@require "discussion-timeline"
@require "dropdowns"
@require "edu"
@require "email"
@require "explore"
@require "filter-list"
@require "form-group"
@require "graphs"
@require "icons"
@require "insights"
@require "issues"
@require "language-chart"
@require "label"
@require "links"
@require "listgroup"
@require "markdown"
@require "marketplace"
@require "menu"
@require "new-repo"
@require "notifications"
@require "network-graph"
@require "oauth"
@require "orgs"
@require "org-login"
@require "org-profile"
@require "pagehead"
@require "pagination"
@require "plugins"
@require "popover"
@require "profile"
@require "profile-timeline"
@require "progress-bar"
@require "projects"
@require "protip"
@require "pull-requests"
@require "release"
@require "repository"
@require "scrollbars"
@require "search"
@require "select-menu"
@require "settings"
@require "shadows"
@require "shelves"
@require "sidenav"
@require "signed-commit"
@require "spinners"
@require "state"
@require "subhead"
@require "subnav"
@require "suggester"
@require "syntax"
@require "table-list"
@require "tabnav"
@require "teams"
@require "toast"
@require "toolbar"
@require "topics"
@require "traffic"
@require "tree-finder"
@require "typeahead"
@require "underline-nav"
@require "usage-bar"
@require "user-list"
@require "user-status"
@require "webhooks"
@require "wiki"
