@require "common"
@require "notifications"
@require "box"
@require "compare-toc"
@require "timeline"
@require "topics"
@require "buttons"
@require "comments"
@require "breadcrumb"
@require "blankslate"
@require "protip"
@require "pagination"
@require "profile"
@require "profile-timeline"
@require "menu"
@require "subnav"
@require "syntax"
@require "calendar"
@require "tree-finder"
@require "markdown"
@require "projects"
@require "sidenav"
@require "plugins"
@require "color-replacements"
@require "pull-requests"
@require "repository"
@require "actions"
@require "insights"
@require "explore"
@require "search"
@require "release"
@require "branch-actions"
@require "billing"
@require "icons"
@require "marketplace"
@require "dropdowns"
@require "popover"
@require "issues"
@require "select-menu"
@require "tabnav"
@require "pagehead"
@require "state"
@require "diff"
@require "underline-nav"
@require "commits"
@require "dashboard"
@require "team"
@require "scrollbars"
@require "webhooks"

::selection
  c $cn 0 $base8
::placeholder
  c $placeholder
body
  c $text 0 $base3
  fn $uiFont, sans-serif
  fs 14px
  lh 1.8
input
  caret-color $blue
  &[type="text"]
    c $cn $base1 $base4
img
  c 0 0 $base4
h1
  c $text
mark
  c $yellow
kbd
  c $text $base1 $base2
  font 14px $monoFont
  s inset 0 -1px 0 $base1
ol, ul
  list-style disc
legend
  fs 0.9em
  fw 600
input, select, button, textara
  &:disabled
    cursor not-allowed
    o 0.5
fieldset
  b $b
  m 0
  mb 6px
  p 10px
  r 6px
code, pre, tt
  mono()
.form-select
  bgi url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' stroke='%23c8d3f5' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' class='feather feather-chevron-down' %3E%3Cpolyline points='6 9 12 15 18 9' /%3E%3C/svg%3E")
.description
  c $text
img[src*="octocat-spinner-64.gif"]
  inv()
.muted-link
  c $faded
  &:hover
    c $blue
.js-recent-activity-container > div > div
  c 0 0 $base2
path[fill="#eee"]
  v $base7
.Label--
  &gray
    c $text $base1 $base2
  &outline
    c $text $base1
.repository-lang-stats ol.repository-lang-stats-numbers li .lang
  c $cn
div[style*="linear-gradient"]
  bg linear-gradient(to top, $base1, transparent)
.numbers-summary
  octicon $text
.js-navigation-open
  ease color
.border, .rgh-collaborator
  b $b
.auth-form-body
  c $text $base1 $base4
.numbers-summary li
  &> .nolink, &>a
    c $faded
.access-token
  bbc $base1
div.listgroup-item
  c $text $base1
.showcase-page-pattern::after
  c 0 $base4 $base1
.write-content.js-write-bucket
  s none
.flash
  c $cn $base1 $base2
  &-warn
    c $yellow $base1 $base4
.boxed-group
  &-inner, & .heading, & > h3
    c 0 $base1 $base4
.rule, hr
  bb $b
.file
  &:target
    s-1()
  &, &-wrap
    c 0 $base1
  &-header
    c $blue $base1 $base4
    m 0
.drag-and-drop
  c $blue $base1 $base4
.pl-s > a
  c $green
:not(.commit-build-statuses) > a:not(.IssueLabel):not(.IssueLabel--big):not(.lh-condensed-ultra):not(.module-linker):not(.tabnav-tab)
  c $text
  &:hover
    c $blue
.access-form-wrapper
  c 0 $base1 $base4
.discussion-sidebar-heading
  c $text
.footer, .site-footer
  bt $b
.octofication .message, .overall-summary
  c 0 $base1 $base4
.input-contrast
  box()
.Counter
  c $cn $base1 $blueDark
.note, .help
  c $blue
.application-main
  & > main > div.border-bottom.border-gray-light
    c 0 0 $base2
  .flex-wrap
    c 0 0 transparent
.contrib-person path
  v $orange
.progress-bar
  c 0 0 $base5
.toolbar-item
  &, & .menu-target
    &:hover
      c $blue $base5
    c $text
    ease color
.body > div.d-flex
  px 10px
.js-notice, .content.p-4.text-center.rounded-1.border.border-gray-light
  c 0 0 $base4
.text
  c $faded
.border-
  &top
    bt $b
  &left
    bl $b
  &right
    br $b
  &bottom
    bb $b
.repository-content > div.bg-white:first-child
  c 0 0 $base2
section[style*="#fafbfc"]
  c 0 0 $base2
// New repo
.reponame-suggestion
  c $green
.boxed-group-inner
  c $text
.suggester
  c $text $base1 $base3
  li
    c 0 $base1
    &[aria-selected="true"]
      c 0 0 $base6
.box-shadow-
  &medium
    s-1()
  &large
    s-2()
