@require "actions"
@require "auth"
@require "avatars"
@require "billing"
@require "blankslate"
@require "box"
@require "boxed-groups"
@require "branch-actions"
@require "breadcrumb"
@require "buttons"
@require "calendar"
@require "circle-badge"
@require "code-search"
@require "color-replacements"
@require "comments"
@require "commits"
@require "compare-toc"
@require "dashboard"
@require "diff"
@require "discussion-timeline"
@require "dropdowns"
@require "explore"
@require "filter-list"
@require "form-group"
@require "icons"
@require "insights"
@require "issues"
@require "label"
@require "links"
@require "listgroup"
@require "markdown"
@require "marketplace"
@require "menu"
@require "new-repo"
@require "notifications"
@require "pagehead"
@require "pagination"
@require "plugins"
@require "popover"
@require "profile"
@require "profile-timeline"
@require "progress-bar"
@require "projects"
@require "protip"
@require "pull-requests"
@require "release"
@require "repository"
@require "scrollbars"
@require "search"
@require "select-menu"
@require "settings"
@require "shadows"
@require "sidenav"
@require "state"
@require "subhead"
@require "subnav"
@require "suggester"
@require "syntax"
@require "tabnav"
@require "team"
@require "timeline"
@require "toast"
@require "toolbar"
@require "topics"
@require "tree-finder"
@require "underline-nav"
@require "user-list"
@require "user-status"
@require "webhooks"
@require "wiki"

::selection
  c $cn 0 $base8
::placeholder
  c $placeholder
body
  c $text 0 $base2
  fn $uiFont, sans-serif
  fs 14px
  lh 1.8
h1, h2, h3, h4, h5
  c $text
mark
  c $yellow
kbd
  c $text $base1 $base2
  font 14px $monoFont
  s inset 0 -1px 0 $base1
ol, ul
  list-style disc
legend
  fs 0.9em
  fw 600
fieldset
  b $b
  m 0
  mb 6px
  p 10px
  r 6px
hr
  bb $b
