.Box-row--yellow
  c $text $yellow transparent
.graph-filter .info
  c $text
line[stroke='#000']
  stroke $border
text
  &[fill='#000'],
  &[fill='#6a737d'],
  &[text-anchor='middle']
    fill $text
.viz
  c $text $border $alt
  .code-frequency
    c $text $border $alt
    p 8px
.cadd
  c $green
.cdel
  c $red
.conversation-list-heading
  c $faded $border
  .inner
    c $faded
.num
  c $faded
relative-time
  c $faded
.simple-conversation-list > li
  c 0 $border
.graphs
  .dir
    c $text
  .area
    fill $teal
.code-frequency
  .addition
    fill $green
  .deletion
    fill $red
.community-checklist .progress
  c 0 0 $region
table.capped-list
  td
    c $text $border $alt
  tr:nth-child(2n), th
    c $text $border $alt
.traffic-graph-stats,
.summary-stats li,
.summary-stats li .num
  c $text $border $alt
