.graph-filter .info
  c $text
line[stroke="#000"]
  v 0 $border
text
  &[fill="#000"], &[fill="#6a737d"], &[text-anchor="middle"]
    v $text
.viz
  c $text $border $alt
  .code-frequency
    c $text $border $alt
    p 8px
.cadd
  c $green
.cdel
  c $red
.conversation-list-heading
  c $faded $border
  .inner
    c $faded
.num
  c $faded
relative-time
  c $faded
.simple-conversation-list > li
  c 0 $border
.graphs
  .dir
    c $text
  .area
    v $teal
.code-frequency
  .addition
    v $green
  .deletion
    v $red
.community-checklist .progress
  c 0 0 $region
table.capped-list
  td
    c $text $border $alt
  tr:nth-child(2n), th
    c $text $border $alt
.traffic-graph-stats,
.summary-stats li,
.summary-stats li .num
  c $text $border $alt
