.graph-filter .info
  c fg("primary")
line[stroke="#000"]
  vc 0 base(7)
text
  &[fill="#000"], &[fill="#6a737d"]
    vc fg("primary")
.viz
  .code-frequency
    ../, &
      c fg("primary") base(1) base(4)
    p 8px
.c
  &add
    c $green
  &del
    c $red
.graphs
  &.axis
    c 0 base(1)
  .dir
    c fg("primary")
  .area
    vc $teal
.code-frequency
  .addition
    vc $green
  .deletion
    vc $red
.community-checklist .progress
  c 0 0 base(8)
table.capped-list
  td
    c fg("primary") base(1) base(4)
  tr:nth-child(2n), th
    c fg("primary") base(1) base(4)
.summary-stats li
  &, & > .num, & > a
    ease background-color
  a
    ease background-color, color
  &:hover, &:focus
    &, & > .num, & > a
      c fg("light") base(1) base(5)
  /.traffic-graph-stats, &, & > .num
    c fg("primary") base(1) base(4)
.pulse-section
  c fg("faded")
.contrib-person path
  vc $orange
#contributors-master svg.viz
  c 0 0 base(4)
.rule
  bb $b
