.issue-keyword
  c $purple
.IssueLabel
  &, & > a[style*="#000"]
    c $base2
.issues-reset-query-icon
  c 0 0 $base7
.js-selected-navigation-item.subnav-item,
.js-issue-row
  ease background-color
.pinned-issue-item
  c 0 $base1 $base5
.reaction-sort-item
  c 0 $base2
  ease background-color, border-color
  &:hover, &:focus
    c 0 $blue $blueTrans
.email-
  &format
    ../quoted-reply, ../signature-reply
      b $b
      bl 4px solid $blue
      c $textAlt $border $base3
      fs italic
      py 6px
      rbr 6px
      rtr 6px
