.issue-keyword
  c $purple
.IssueLabel
  c $bg
.js-selected-navigation-item.subnav-item,
.js-issue-row
  ease background-color
.pinned-issue-item
  c 0 $border $hl
.reaction-sort-item
  ease background-color, border-color
  c 0 $bg
  &:hover, &:focus
    c 0 $blue $blueTrans
