code .link-gray
  set-font "mono"
a
  ease color
  &:not(.IssueLabel):not(.IssueLabel--big):not(.lh-condensed-ultra):not(.module-linker):not(.tabnav-tab):not(.reponav-item):not(.btn):not(.rgh-linkified-code):not(.field-name):not(.type-name):not(.subnav-link)
    color fg("primary")
    &.link-gray:hover
      c fg("primary")
    &:hover
      c v("blue")
.muted-link
  c fg("primary")
  &:hover
    c v("blue")
.link-gray-dark
  c fg("light")
  octicon fg("primary")
  &:hover
    c light("blue")
.link-mktg
  shadow 0 1px 0 0 v("blue")
  &:hover
    shadow 0 1px 0 0 light("blue")
