code .link-gray
  fw 500
:not(.commit-build-statuses) > a:not(.IssueLabel):not(.IssueLabel--big):not(.lh-condensed-ultra):not(.module-linker):not(.tabnav-tab):not(.reponav-item)
  c $text
  &:hover
    c $blue
.muted-link
  c $faded
  &:hover
    c $blue
