.list-group-item
  c 0 1
  &-link
    c fg("secondary")
  &.closed
    c 0 0 4
  +selected()
    c 0 0 5
  +nav-focus()
    c 0 0 3
  &-summary a
    c fg("secondary")
    &.quiet
      c fg("gray")
.listgroup
  c 0 1
  &-item
    c fg("primary") 1
