.list-group-item
  c 0 base(1)
  &-link
    c fg("secondary")
  &.closed
    c 0 0 base(4)
  &.selected
    c 0 0 base(5)
  &.navigation-focus, &[aria-selected="true"]
    c 0 0 base(3)
  &-summary a
    c fg("secondary")
    &.quiet
      c fg("gray")
.listgroup
  c 0 base(1)
  &-item
    c fg("primary") base(1)
