.markdown-body
  lh 1.9
  set-font "ui"
  details[open=""] summary
    bb 1px solid base(7)
    my 16px
  details summary
    b 1px solid $t
    ease colors
    p 5px 10px
    m 3px -10px
    &::marker
      c fg("faded")
      ease colors
    &:focus
      outline-color fg("faded")
    &:hover
      c 0 0 2
      &::marker
        c v("blue")
  del
    c 9
  /.js-commit-preview &
    c 0 0 5
  .lead-mktg p
    c fg("faded")
  a
    c v("blue")
    ease colors
    &:hover
      c light("blue")
      td underline
  .absent
    c v("red")
  img
    c 0 0 4
  hr
    c 0 5 5
  table
    th
      c fg("primary") 1
      background-color base(2)
    td, th
      c 0 1
    tr
      &, &:nth-child(2n)
        background-color base(3)
      td:not([class*="blob"])
        c fg("primary") 1 3
  p
    c fg("paragraph")
  pre > code
    c 0 0 $t
  .csv-data
    .blob-num
      c 0 3
    th
      c 0 4
  tt
    b $b
  code, tt
    c fg("light") 1 7
    m 0.4em
    fs font("mono", "size")
    set-font "mono"
  h6
    c fg("faded")
  h1, h2, h3, h4, h5, h6
    c 0 7
    .octicon-link
      c v("cyan")
      o 0
      visibility visible
      transform scale(1.1)
    &:hover .octicon-link
      o 1
  /.highlight pre, pre
    b $b
    c 0 1 3
    set-font "mono"
  span.frame
    & > span
      c 0 1
    span span
      c fg("secondary")
  blockquote
    bg linear-gradient(to right, base(6), base(3))
    c fg("secondary") 7 5
    p
      c fg("dark")
  .clippy-wrapper .clippy
    c fg("light") 1 4
    ease colors
    &:hover
      c 0 v("blue") 8
    .icon
      inv()
