.marketplace-plan-emphasis
  c fg("gray")
.Marketplace
  &Background-
    &buffer
      c 0 1 4
    &reccomendations img
      inv()
  &Plan--sticky
    div.bg-white
      bd $b
      bt none
      c 0 1 4
      rb 6px
      elevation 1
      .bg-blue
        c 0 0 v("blue")
.ScreenshotCarousel
  c 0 1 4
  r 6px
  elevation 1
  &-nav
    shadow inset 0 1px 0 base(1)
  &-navitem
    brc base(1)
    ease colors
    &:hover, &:focus
      c 0 0 9
    &.selected
      c 0 0 5
