.Marketplace
  &Background-
    &buffer
      c 0 $base1 $base4
    &reccomendations img
      inv()
  &Plan--sticky
    .marketplace-plan-emphasis
      c $text
    div.bg-white
      b $b
      bt none
      c 0 $base1 $base4
      rb 6px
      s-1()
      .bg-blue
        c 0 0 $blue
.ScreenshotCarousel
  c 0 $base1 $base4
  r 6px
  s-1()
  &-nav
    s inset 0 1px 0 $base1
  &-navitem
    brc $base1
    ease background-color
    &:hover, &:focus
      c 0 0 $base9
    &.selected
      c 0 0 $base5
