.markdown-body
  a
    c $textAlt
    ease color
    td underline
    &:hover
      c $blue
  h1, h2, h3, h4, h5
    c 0 $border
  img
    c 0 0 $hl
  table
    td, th
      c 0 $border
    tr
      c $text $border $alt
  code, tt
    c $cn
    fw 500
    mono()
  /.highlight pre, pre
    c 0 $border $alt
    fw 500
    mono()
  blockquote
    c $textAlt $border $hl
  hr
    c 0 0 $border
  .clippy-wrapper .clippy
    c $cn $border $alt
    .icon
      inv()
