.menu
  c fg("primary") 1 4
  &-heading
    c fg("gray") 1 4
  &-item
    bb $b
    ease colors
    &:hover
      c 0 0 6
    +selected()
      c v("blue") 0 5
      &::before
        c 0 0 v("blue")
      &:hover, &:focus
        c 0 0 6
