.menu
  c fg("primary") 1 4
  &, .blankslate
    c 4 1
  &-heading
    c fg("gray") 1 4
  &-item
    bb $b
    ease background-color, border-color, color
    &:hover
      c 0 0 6
    &.selected, &[aria-current]
      c v("blue") 0 5
      &::before
        c 0 0 v("blue")
      &:hover
        c 0 0 6
