.menu
  c $text $base1 $base4
  &, .blankslate
    c $base4 $base1
  &-heading
    c $textGray $base1 $base4
  &-item
    bb $b
    ease background-color, border-color, color
    &:hover
      c 0 0 $base6
    &.selected, &[aria-current]
      c $blue 0 $base5
      &::before
        c 0 0 $blue
      &:hover
        c 0 0 $base6
