$i = !important
prop($p, $x)
  +cache('x', $x, 'p', $p)
    if ($x is a 'call' || $x is a 'rgba')
      {$p} $x $i
/**
 * c <foreground> <border-color> <background>
 * use 0 to omit arguments
 */
c($x, $y = 0, $z = 0)
  prop('color', $x)
  prop('border-color', $y)
  prop('background-color', $z)
/**
 * v <fill> <stroke> <fill-important> <stroke-important>
 * use 0 to omit arguments
 */
v($x, $y = 0)
  +cache('x' + $x)
    prop('fill', $x)
  +cache('y' + $y)
    prop('stroke', $y)
caret($direction = 'bottom', $popupColor = $alt, $borderColor = $border)
  +cache('direction' + $direction)
    +cache('borderColor' + $borderColor)
      &::before
        border-{$direction}-color $borderColor
    +cache('popupColor' + $popupColor)
      &::after
        border-{$direction}-color $popupColor
bgi()
  +cache('args' + arguments)
    background-image arguments $i
bg()
  +cache('args' + arguments)
    background arguments $i
b()
  +cache('args' + arguments)
    border arguments $i
bc()
  +cache('args' + arguments)
    border-color arguments $i
bb()
  +cache('args' + arguments)
    border-bottom arguments $i
bbc()
  +cache('args' + arguments)
    border-bottom-color arguments $i
bt()
  +cache('args' + arguments)
    border-top arguments $i
btc()
  +cache('args' + arguments)
    border-top-color arguments $i
bl()
  +cache('args' + arguments)
    border-left arguments $i
blc()
  +cache('args' + arguments)
    border-left-color arguments $i
br()
  +cache('args' + arguments)
    border-right arguments $i
brc()
  +cache('args' + arguments)
    border-right-color arguments $i
by()
  +cache('args' + arguments)
    border-bottom arguments $i
    border-top arguments $i
byc()
  +cache('args' + arguments)
    border-bottom-color arguments $i
    border-top-color arguments $i
bx()
  +cache('args' + arguments)
    border-left arguments $i
    border-right arguments $i
bxc()
  +cache('args' + arguments)
    border-left-color arguments $i
    border-right-color arguments $i
r()
  +cache('args' + arguments)
    border-radius arguments $i
rtl()
  +cache('args' + arguments)
    border-top-left-radius arguments $i
rtr()
  +cache('args' + arguments)
    border-top-right-radius arguments $i
rb()
  +cache('args' + arguments)
    border-bottom-left-radius arguments $i
    border-bottom-right-radius arguments $i
rbl()
  +cache('args' + arguments)
    border-bottom-left-radius arguments $i
rbr()
  +cache('args' + arguments)
    border-bottom-right-radius arguments $i
rt()
  +cache('args' + arguments)
    border-top-left-radius arguments $i
    border-top-right-radius arguments $i
m()
  +cache('args' + arguments)
    margin arguments $i
mt()
  +cache('args' + arguments)
    margin-top arguments $i
mb()
  +cache('args' + arguments)
    margin-bottom arguments $i
ml()
  +cache('args' + arguments)
    margin-left arguments $i
mr()
  +cache('args' + arguments)
    margin-right arguments $i
my()
  +cache('args' + arguments)
    margin-top arguments $i
    margin-bottom arguments $i
mx()
  +cache('args' + arguments)
    margin-left arguments $i
    margin-right arguments $i
lh()
  +cache('args' + arguments)
    line-height arguments $i
p()
  +cache('args' + arguments)
    padding arguments $i
px()
  +cache('args' + arguments)
    padding-left arguments $i
    padding-right arguments $i
py()
  +cache('args' + arguments)
    padding-bottom arguments $i
    padding-top arguments $i
pt()
  +cache('args' + arguments)
    padding-top arguments $i
pb()
  +cache('args' + arguments)
    padding-bottom arguments $i
pl()
  +cache('args' + arguments)
    padding-left arguments $i
pr()
  +cache('args' + arguments)
    padding-right arguments $i
po()
  +cache('args' + arguments)
    position arguments $i
s()
  +cache('args' + arguments)
    box-shadow arguments $i
o()
  +cache('args' + arguments)
    opacity arguments $i
a()
  +cache('args' + arguments)
    animation arguments $i
tr()
  +cache('args' + arguments)
    transition arguments $i
ease()
  +cache('args' + arguments)
    tr arguments 300ms $easeInOutCubic
fn()
  +cache('args' + arguments)
    font-family arguments $i
fs()
  +cache('args' + arguments)
    font-size arguments $i
fw()
  +cache('args' + arguments)
    font-weight arguments $i
td()
  +cache('args' + arguments)
    text-decoration arguments $i
sbc()
  +cache('args' + arguments)
    scrollbar-color arguments $i
sbw()
  +cache('args' + arguments)
    scrollbar-width arguments $i
size($w, $h = $w)
  +cache('h' + $h)
    height $h $i
  +cache('w' + $w)
    width $w $i
mono()
  fn $monoFont
inv()
  filter invert(1)
box()
  c 0 $border $alt
  ease border-color, background-color
  &:hover, &:focus
    c 0 $blue $hl
octicon()
  +cache('args' + arguments)
    .octicon
      c arguments
s-1()
  s 0 2px 5px 0 rgba(black, 0.26)
s-2()
  s 0 4px 8px 0 rgba(black, 0.4)
