:root {
  --blue: #82aaff;
  --blue-light: #83aaff;
  --purple: #c597f9;
  --red: #ff5370;
  --teal: #4fd6be;
  --green: #c3e88d;
  --indigo: #7a88cf;
  --placeholder: rgba(200,211,245,0.667);
  --border: #131421;
  --bg: #191b28;
  --alt: #1e2030;
  --yellow: #ffc777;
  --orange: #ff995e;
  --region: #383e5c;
  --hl: #212337;
  --icon: #2f334d;
  --hover: #444a73;
  --faded: #7f85a3;
  --text-alt: #b4c2f0;
  --text-gray: #a9b8e8;
  --text: #c8d3f5;
  --sb: rgba(130,139,184,0.188);
  --cn: #fff;
  --elevation-md: 0 4px 6px -1px rgba(0,0,0,0.1), 0 2px 4px -1px rgba(0,0,0,0.06);
}
.commit-icon .octicon,
.commit-group-title .octicon-git-commit,
div[style="background-color: #fcfdfd"],
.conversation-list-heading .inner,
.email-format .email-hidden-toggle a,
nav.UnderlineNav + div.border.d-md-block,
.tint-box,
.copyable-terminal,
.capped-card-content,
#contributors-master svg.viz,
.timeline-commits .hidden-text-expander .ellipsis-expander,
.blob-num-expandable,
.blob-num-hunk,
.blob-code-expandable,
.blob-code-hunk {
  background-color: var(--alt) !important;
}
.discussion-sidebar-item+.discussion-sidebar-item,
.UnderlineNav,
.reaction-summary-item,
.comment-reactions.has-reactions,
.jump-to-suggestions-results-container .navigation-item,
.Box-footer,
.graphs.axis,
.dropdown-divider,
.blob-expanded + tr:not(.blob-expanded) .blob-code,
.blob-expanded + tr:not(.blob-expanded) .blob-num,
.blob-expanded .blob-num-hunk,
.TimelineItem-badge,
.avatar-before-user-status,
tr:not(.blob-expanded) + .blob-expanded .blob-code,
tr:not(.blob-expanded) + .blob-expanded .blob-num,
.branch-action-item + .branch-action-item,
.branch-action-item + .mergeability-details,
.social-count,
.timeline-new-comment .previewable-comment-form .comment-body,
.dashboard-rollup-items .body,
.Box-body,
.profile-rollup-summarized+.profile-rollup-summarized,
.file-diff-split .blob-code + .blob-num,
.ScreenshotCarousel,
.border-top,
.border-bottom,
.border-right,
.border-lg-left,
.Subhead,
.repository-lang-stats-graph {
  border-color: var(--border) !important;
}
.notifications-list-item.notification-unread {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.filter-item {
  transition: background-color ease-in-out 0.2s !important;
}
.filter-item:hover {
  background-color: var(--hover) !important;
}
.filter-item.selected,
.filter-item[aria-current],
.filter-item[aria-selected=true] {
  color: var(--cn) !important;
  background-color: var(--icon) !important;
}
.notification-navigation.bg-white {
  background-color: var(--bg) !important;
}
.notification-configure-filters .octicon {
  color: var(--hover) !important;
}
.notifications-list-item .notification-list-item-actions svg {
  fill: var(--text);
}
.notifications-list-item:hover {
  background-color: var(--hl) !important;
}
.notifications-list-item:hover .notification-list-item-actions .btn {
  transition: background-color 0.2s ease-in-out !important;
}
.notifications-list-item:hover .notification-list-item-actions .btn:hover {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--border) !important;
}
.notification-dropdown {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.notification-dropdown .notifications-list {
  margin-bottom: 0 !important;
}
.notification-dropdown-arrow {
  border-color: var(--alt) !important;
}
.notification-dropdown,
.notification-dropdown-see-all {
  border-color: var(--border) !important;
  background-color: var(--region) !important;
  border-top: 1px solid var(--border) !important;
}
.thread-subscription-status {
  border-color: var(--border) !important;
}
.pl-c {
  color: #7a88cf !important;
}
.pl-c1,
.pl-s .pl-v {
  color: #c8d3f5 !important;
}
.pl-e,
.pl-en {
  color: #82aaff !important;
}
.pl-smi,
.pl-s .pl-s1 {
  color: #ff757f !important;
}
.pl-ent {
  color: #ff757f !important;
}
.pl-k {
  color: #c099ff !important;
}
.pl-s .pl-pse .pl-s1,
.pl-pds {
  color: #86e1fc !important;
}
.pl-sr {
  color: #b4f9f8 !important;
}
.pl-sr .pl-cce {
  color: #ff98a4 !important;
}
.pl-s,
.pl-sr .pl-sre,
.pl-sr .pl-sra {
  color: #c3e88d !important;
}
.pl-v {
  color: #fca7ea !important;
}
.pl-smw {
  color: #ffc777 !important;
}
.pl-bu {
  color: rgba(255,117,127,0.8) !important;
}
.pl-ii {
  color: #fafbfc !important;
  background-color: #b31d28 !important;
}
.pl-c2 {
  color: #fafbfc !important;
  background-color: #d73a49 !important;
}
.pl-c2::before {
  content: "^M";
}
.pl-sr .pl-cce {
  font-weight: bold !important;
  color: #ff98a4 !important;
}
.pl-ml {
  color: #735c0f !important;
}
.pl-mh .pl-en,
.pl-ms {
  color: #86e1fc !important;
}
.pl-mh {
  font-weight: bold !important;
  color: #c3e88d !important;
}
.pl-mi {
  font-style: italic;
  color: #24292e !important;
}
.pl-mb {
  font-weight: bold !important;
  color: #24292e !important;
}
.pl-md {
  color: #ff757f !important;
  background-color: rgba(255,83,112,0.667) !important;
}
.pl-mi1 {
  color: #c3e88d !important;
  background-color: rgba(119,224,198,0.867) !important;
}
.pl-mc {
  color: #c099ff !important;
  background-color: rgba(134,225,252,0.733) !important;
}
.pl-mdr {
  font-weight: bold !important;
  color: #6f42c1 !important;
}
.pl-ba {
  color: #586069 !important;
}
.pl-sg {
  color: #959da5 !important;
}
.pl-corl {
  text-decoration: underline !important;
}
.legend li[style='background-color: #ebedf0'] {
  background-color: #fff !important;
  opacity: 0.05 !important;
}
.legend li[style='background-color: #c6e48b'] {
  background-color: var(--blue) !important;
  opacity: 0.25 !important;
}
.legend li[style='background-color: #7bc96f'] {
  background-color: var(--blue) !important;
  opacity: 0.5 !important;
}
.legend li[style='background-color: #239a3b'] {
  background-color: var(--blue) !important;
  opacity: 0.75 !important;
}
.legend li[style='background-color: #196127'] {
  background-color: var(--blue) !important;
}
.graph-before-activity-overview {
  background-color: var(--hl) !important;
}
.calendar-graph text.wday,
.calendar-graph text.month {
  fill: var(--cn);
}
.calendar-graph rect[fill="#ebedf0"] {
  fill: #fff;
  opacity: 0.05 !important;
}
.calendar-graph rect[fill="#c6e48b"] {
  fill: var(--blue);
  opacity: 0.25 !important;
}
.calendar-graph rect[fill="#7bc96f"] {
  fill: var(--blue);
  opacity: 0.5 !important;
}
.calendar-graph rect[fill="#239a3b"] {
  fill: var(--blue);
  opacity: 0.75 !important;
}
.calendar-graph rect[fill="#196127"] {
  fill: var(--blue);
}
.markdown-body h1,
.markdown-body h2 {
  border-color: var(--border) !important;
}
.markdown-body img {
  background-color: var(--hl) !important;
}
.markdown-body table td,
.markdown-body table th {
  border-color: var(--border) !important;
}
.markdown-body table tr {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.markdown-body code,
.markdown-body tt {
  color: var(--cn) !important;
  font-weight: 500 !important;
  font-family: monospace !important;
}
.highlight pre,
.markdown-body pre {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
  font-family: monospace !important;
  font-weight: 500 !important;
}
.markdown-body blockquote {
  color: var(--text-alt) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.markdown-body hr {
  background-color: var(--border) !important;
}
.markdown-body .clippy-wrapper .clippy {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.markdown-body .clippy-wrapper .clippy .icon {
  filter: invert(1);
}
.code-review.blob-code.blob-code-context {
  background-color: var(--alt) !important;
}
#js-repo-pjax-container,
.pr-toolbar {
  background-color: var(--bg) !important;
}
.__better_github_pr,
.__better_github_pr_dark_mode {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.__better_github_pr .github-pr-file.github-pr-file-highlight,
.__better_github_pr .tree-view_item:hover {
  background-color: var(--icon) !important;
}
.gitako-ready .js-header-wrapper {
  background-color: var(--bg) !important;
}
.gitako-toggle-show-button-wrapper.collapsed {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
  margin: 1% !important;
}
.gitako-toggle-show-button-wrapper.collapsed .action-icon {
  color: var(--blue) !important;
}
.gitako-side-bar,
.gitako-resize-handler {
  border-color: var(--border) !important;
  background-color: var(--border) !important;
}
.gitako-side-bar .gitako-side-bar-body {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
  border-right-color: var(--border) !important;
}
.gitako-side-bar .gitako-side-bar-body .octicon {
  color: var(--blue) !important;
}
.gitako-side-bar .gitako-side-bar-body .gitako-settings-bar-title {
  border-top-color: var(--border) !important;
}
.gitako-side-bar .gitako-side-bar-body .gitako-settings-bar-content .shadow-shelter {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.gitako-side-bar .gitako-side-bar-body .gitako-settings-bar,
.gitako-side-bar .gitako-side-bar-body .gitako-settings-bar .header-row {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.gitako-side-bar .gitako-side-bar-body .meta-bar,
.gitako-side-bar-content .meta-bar {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.gitako-side-bar .gitako-side-bar-body .file-explorer .search-input-wrapper input[type="text"].form-control,
.gitako-side-bar-content .file-explorer .search-input-wrapper input[type="text"].form-control {
  border-radius: 0px !important;
  border: 1px !important;
}
.gitako-side-bar .gitako-side-bar-body .file-explorer .no-results,
.gitako-side-bar-content .file-explorer .no-results {
  color: var(--faded) !important;
}
.gitako-side-bar .gitako-side-bar-body .file-explorer .node-item-row,
.gitako-side-bar-content .file-explorer .node-item-row {
  background-color: var(--hl) !important;
}
.gitako-side-bar .gitako-side-bar-body .file-explorer .node-item,
.gitako-side-bar-content .file-explorer .node-item {
  color: var(--text) !important;
  border-color: var(--border) !important;
}
.bg-gray {
  background-color: var(--alt) !important;
}
.bg-gray-light {
  background-color: var(--alt) !important;
}
.bg-blue-light {
  background-color: var(--alt) !important;
}
.bg-blue {
  background-color: var(--icon) !important;
}
.bg-gray-dark {
  background-color: var(--bg) !important;
}
.bg-gray-2 {
  background-color: var(--icon) !important;
}
.bg-white {
  background-color: var(--bg) !important;
}
.text-gray-light {
  color: var(--text-alt) !important;
}
.text-blue {
  color: var(--blue) !important;
}
.text-gray {
  color: var(--text) !important;
}
.text-gray-dark {
  color: var(--text) !important;
}
.text-emphasized {
  color: var(--blue-light) !important;
}
.select-menu-modal {
  box-shadow: var(--elevation-md) !important;
}
* {
  scrollbar-color: var(--sb) var(--bg) !important;
  scrollbar-width: thin !important;
}
kbd {
  font: 14px monospace;
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
  box-shadow: inset 0 -1px 0 var(--border) !important;
}
.octicon {
  transform: scale(1.1);
}
.profile-rollup-content li.d-block.mt-1.py-1,
.js-recent-activity-container > div > div {
  background-color: var(--bg) !important;
}
.diffstat-block-neutral {
  background-color: var(--sb) !important;
}
.diffstat-block-added {
  background-color: var(--green) !important;
}
.diffstat-block- kdeleted {
  background-color: var(--red) !important;
}
.diffstat-summary {
  color: var(--text) !important;
}
.diffstat-summary strong {
  color: var(--purple) !important;
}
.file-diff-split .empty-cell {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.blob-num-addition {
  color: var(--green) !important;
  border-color: var(--green) !important;
  background-color: rgba(195,232,141,0.082) !important;
}
.blob-code-addition {
  color: var(--green) !important;
  border-color: var(--green) !important;
  background-color: rgba(195,232,141,0.082) !important;
}
.blob-num-deletion {
  color: var(--red) !important;
  border-color: var(--red) !important;
  background-color: rgba(255,83,112,0.125) !important;
}
.blob-code-deletion {
  color: var(--red) !important;
  border-color: var(--red) !important;
  background-color: rgba(255,83,112,0.125) !important;
}
.lovely-forks-addon {
  color: var(--text) !important;
  opacity: 0.7 !important;
}
.Label--gray {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.Label--outline {
  color: var(--text) !important;
  border-color: var(--border) !important;
}
.profile-timeline-card.bg-white {
  background-color: var(--hl) !important;
}
.profile-timeline.discussion-timeline:before {
  background-color: var(--hl) !important;
}
.profile-timeline-month-heading:after {
  background-color: var(--border) !important;
}
.repository-lang-stats ol.repository-lang-stats-numbers li .lang {
  color: var(--cn) !important;
}
.discussion-item-icon {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--icon) !important;
}
.discussion-timeline-actions {
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.discussion-sidebarheading {
  color: var(--text) !important;
}
.discussion-sidebaritem {
  color: var(--faded) !important;
  font-weight: 500 !important;
}
.timeline-comment-wrapper {
  border: 0 !important;
}
.vcard-username {
  color: var(--text-gray) !important;
}
.user-profile-sticky-bar:after {
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.previewable-comment-form .comment-form-head.tabnav {
  background-color: var(--alt) !important;
  border-top: 0px !important;
  border-left: 0px !important;
  border-right: 0px !important;
  border-bottom: 1px solid var(--border) !important;
}
.tabnav-tab[aria-current],
.tabnav-tab[aria-selected=true],
.tabnav-tab.selected {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.branch-name {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--region) !important;
}
.select-menu-header,
.select-menu-header .select-menu-title {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.select-menu-modal,
.select-menu-item {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.select-menu-divider {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.select-menu-filters {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.select-menu-text-filter:first-child,
.select-menu-text-filter:last-child {
  border-color: var(--border) !important;
}
.pagination .current:hover,
.pagination [aria-current]:hover {
  color: var(--cn) !important;
  background-color: var(--region) !important;
}
.pagination a,
.pagination em,
.pagination span,
.pagination .disabled,
.pagination .gap,
.pagination [aria-disabled=true],
.pagination a:hover,
.pagination em:hover,
.pagination span:hover,
.pagination .disabled:hover,
.pagination .gap:hover,
.pagination [aria-disabled=true]:hover {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.dropdown-menu:after {
  border-bottom-color: var(--border);
}
.dropdown-item {
  color: var(--text) !important;
}
.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--cn) !important;
  background-color: var(--region) !important;
}
input[type="text"] {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
div[style*="background: linear-gradient"] {
  background: linear-gradient(to top, #000, rgba(0,0,0,0)) !important;
}
.numbers-summary .octicon {
  color: var(--text) !important;
}
.ellipsis-expander,
.hidden-text-expander a {
  color: var(--text) !important;
  background-color: var(--icon) !important;
}
.subnav-link.selected,
.UnderlineNav-item .selected,
.UnderlineNav-item [aria-current],
.UnderlineNav-item [aria-selected=true] {
  border-bottom-color: var(--blue) !important;
}
.open.octicon {
  color: var(--green) !important;
}
.SelectMenu-divider {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--border) !important;
}
.SelectMenu-list {
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.SelectMenu-item,
.SelectMenu-modal {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.SelectMenu-header {
  border-bottom-color: var(--border) !important;
}
.SelectMenu-filter {
  border-top-color: var(--border) !important;
}
.SelectMenu-tab[aria-selected=true] {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.Box-row--focus-gray.navigation-focus {
  background-color: var(--icon) !important;
}
.commit-group-title .octicon-git-commit {
  color: var(--text) !important;
}
.commits-listing:before {
  background-color: var(--hl) !important;
}
.TimelineItem--condensed .TimelineItem-badge {
  width: 30px !important;
  height: 30px !important;
}
.dropdown-signed-commit .dropdown-menu:after {
  border-bottom-color: var(--border) !important;
}
.signed-commit-header {
  background-color: var(--bg) !important;
}
.signed-commit-header,
.signed-commit-badge.verified {
  color: var(--text) !important;
  border-color: var(--green) !important;
  font-size: 16px !important;
}
.commit-sha {
  color: var(--yellow) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.commit-ref {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.btn-mktg {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.timeline-comment {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.timeline-comment-wrapper {
  border-color: var(--border) !important;
}
.timeline-comment-header {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.timeline-comment--caret::before,
.timeline-comment--caret.current-user::before {
  border-right-color: var(--border);
}
.timeline-comment--caret::after,
.timeline-comment--caret.current-user::after {
  border-right-color: var(--alt);
}
.Header,
.gh-header {
  background-color: unset;
}
.Header-sticky.is-stuck + .Header-shadow,
.gh-header-sticky.is-stuck + .gh-header-shadow {
  background-color: var(--alt) !important;
}
.Header-meta,
.gh-header-meta {
  color: var(--text) !important;
  border-color: var(--border) !important;
}
table.files td.age {
  color: var(--text) !important;
}
table.files {
  background-color: var(--hl) !important;
}
table.files tr.navigation-focus td,
table.files tr[aria-selected=true] td {
  background-color: var(--hl) !important;
}
table.files td {
  border-color: var(--border) !important;
}
table.files td .age,
table.files td .icon {
  color: var(--text) !important;
}
.dropdown-menu {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.merge-pr-more-commits,
.status-meta,
.TimelineItem-body {
  color: var(--faded) !important;
}
.thread-subscription-status {
  color: var(--text) !important;
  background-color: var(--bg) !important;
}
.TimelineItem:before {
  background-color: var(--border) !important;
}
.TimelineItem-badge,
.TimelineItem--condensed .TimelineItem-badge {
  color: var(--hover) !important;
  background-color: var(--bg) !important;
}
.border,
.border-gray-dark,
.rgh-collaborator {
  border: 1px solid var(--border) !important;
}
.Box-row,
.profile-rollup-wrapper+.profile-rollup-wrapper {
  border-top: 1px solid var(--border) !important;
}
.btn {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
  background: none !important;
}
.btn:hover {
  background-image: none !important;
  background-color: var(--region) !important;
}
body {
  font-family: "Inter v" !important;
  font-size: 14px !important;
  line-height: 1.8 !important;
  color: var(--text) !important;
  background-color: var(--bg) !important;
}
body.page-responsive.pagehead {
  background-color: var(--bg) !important;
}
.user-profile-nav,
.topic-tag {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.reponav-item {
  color: var(--blue) !important;
}
.reponav-item.selected {
  color: var(--blue) !important;
  background-color: var(--bg) !important;
  border-color: var(--hl) var(--border) transparent !important;
}
.reponav-item.selected .octicon {
  color: var(--cn) !important;
}
.reponav-item .octicon {
  color: var(--text) !important;
  opacity: 1 !important;
}
.pagehead-tabs-item.selected,
.reponav-item.selected {
  border-color: var(--blue) var(--border) transparent !important;
}
.pagehead,
.repohead.experiment-repo-nav {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
@media (min-width: 768px) {
  .pagehead,
  .repohead.experiment-repo-nav {
    color: var(--alt) !important;
  }
}
.repohead .Label--outline,
.repo-list .Label--outline {
  color: var(--text) !important;
  border-color: var(--border) !important;
}
.site-header {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.showcase-page-pattern::after {
  border-color: var(--alt) !important;
  background-color: var(--border) !important;
}
.form-group .form-control {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.form-group .form-control .search-input {
  caret-color: var(--blue);
}
.form-group .form-control:focus {
  background-color: var(--hl) !important;
}
.form-control,
.form-select {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.flash {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.flash-warn {
  color: var(--yellow) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.menu {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.menu,
.menu .blankslate {
  color: var(--alt) !important;
  border-color: var(--border) !important;
}
.menu-heading {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.menu-item {
  border-bottom: 1px solid var(--border) !important;
}
.menu-item:hover {
  background-color: var(--hover) !important;
}
.menu-item.selected {
  color: var(--blue) !important;
  background-color: var(--hl) !important;
}
.boxed-group-inner,
.boxed-group .heading,
.boxed-group > h3 {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.rule,
hr {
  border-bottom: 1px solid var(--border) !important;
}
.file {
  border-color: var(--border) !important;
}
.file-header {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.pl-s > a {
  color: var(--green) !important;
}
:not(.commit-build-statuses) > a:not(.IssueLabel):not(.IssueLabel--big):not(.lh-condensed-ultra) {
  color: var(--text) !important;
}
div.commit-build-statuses .text-green {
  color: var(--teal) !important;
}
div.commit-build-statuses .text-red {
  color: var(--red) !important;
}
div.commit-build-statuses .bg-pending {
  color: var(--purple) !important;
}
.link-gray {
  color: var(--faded) !important;
}
.link-gray-dark,
body .link-gray-dark {
  color: var(--blue) !important;
}
.link-gray-dark:hover,
body .link-gray-dark:hover,
body body .link-gray-dark:hover {
  text-decoration: underline !important;
}
.access-form-wrapper {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.table-list-header-toggle .btn-link.selected:hover {
  color: var(--blue-light) !important;
}
.site-footer {
  border-top: 1px solid var(--border) !important;
}
.file-wrap {
  border-color: var(--border) !important;
}
.table-list {
  border-bottom: 1px solid var(--border) !important;
}
.table-list-header {
  border-color: var(--alt) !important;
  background-color: var(--border) !important;
}
.table-list-header-toggle .btn-link:hover {
  color: var(--blue-light) !important;
}
.table-list-cell {
  border-top: 1px solid var(--border) !important;
}
.table-list-bordered .table-list-cell:first-child {
  border-left: 1px solid var(--border) !important;
}
.table-list-bordered .table-list-cell:last-child {
  border-right: 1px solid var(--border) !important;
}
.breadcrumb {
  color: var(--blue) !important;
}
.breadcrumb strong.final-path {
  color: var(--cn) !important;
}
.drag-and-drop {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.octofication .message,
.overall-summary {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.btn-link:not(.IssueLabel),
.subnav-search-context .btn {
  color: var(--blue) !important;
}
.social-count {
  color: var(--blue) !important;
  background-color: var(--hl) !important;
}
.social-count:hover {
  color: var(--cn) !important;
}
.subnav-item {
  border-color: var(--border) !important;
}
.subnav-item:focus,
.subnav-item:hover {
  background-color: var(--icon) !important;
}
.subnav-item.selected,
.subnav-item.selected:focus,
.subnav-item.selected:hover {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.input-contrast {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.input-contrast:focus {
  background-color: var(--hl) !important;
}
.btn-octicon {
  color: var(--blue) !important;
}
.btn-octicon:hover {
  color: var(--cn) !important;
}
.btn-octicon-danger:hover {
  color: var(--red) !important;
}
.filter-bar {
  background-color: var(--alt) !important;
  border-bottom: 1px solid var(--border) !important;
}
.more-repos {
  background-color: var(--alt) !important;
  box-shadow: inset 0 1px 0 var(--border) !important;
}
.branch-action-body .merge-branch-form,
.branch-action-body .merge-message {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.news .alert {
  border-top: 1px solid var(--border) !important;
}
.news .Details-content--hidden li,
.news .Details button {
  border-top-color: var(--border) !important;
}
.news .Details button:hover {
  background: transparent !important;
  text-decoration: underline !important;
}
.js-profile-editable-edit-button {
  color: var(--cn) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.pinned-item-name {
  color: var(--faded) !important;
}
.pinned-item-checkbox:checked + .pinned-item-name {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--icon) !important;
}
.dashboard-notice {
  background-color: var(--hl) !important;
  border: 1px solid var(--border) !important;
}
.dashboard-notice h2 {
  color: var(--text) !important;
}
.branch-infobar {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.branch-action-body::before {
  border-right-color: var(--border);
}
.branch-action-body::after {
  border-right-color: var(--alt);
}
.repo-list {
  padding: 0 12px !important;
}
.repo-list,
.repo-list-item {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.mini-repo-list-item {
  border-top: 1px solid var(--border) !important;
}
.commit .commit-title,
.commit-group-title,
.commit .commit-title a,
.commit-group-title a {
  color: var(--text) !important;
}
.commit-tease {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.commit-tease-sha {
  color: var(--blue) !important;
}
.commit-tease-contributors {
  background-color: var(--hover) !important;
  border-top: 1px solid var(--border) !important;
}
.navigation-focus {
  background-color: var(--hover) !important;
}
.commits blockquote {
  color: var(--text) !important;
}
.commits-list-item.navigation-focus {
  background-color: var(--hover) !important;
}
.reponav-item:focus,
.reponav-item:hover {
  color: var(--blue) !important;
}
.team-mention,
.user-mention {
  color: var(--cn) !important;
}
.tabnav-pr .tabnav-tab,
div .tabnav-tab {
  color: var(--blue) !important;
}
.tabnav-pr .tabnav-tab.selected,
div .tabnav-tab.selected {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.tabnav-pr .tabnav-tab:focus,
div .tabnav-tab:focus,
.tabnav-pr .tabnav-tab:hover,
div .tabnav-tab:hover {
  color: var(--blue-light) !important;
}
.tabnav-pr .tabnav-tab .Counter,
div .tabnav-tab .Counter {
  color: var(--blue) !important;
}
.Counter {
  color: var(--blue) !important;
  background-color: var(--border) !important;
}
.Box-header {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.Box-header--blue {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
*:not(code) .Box {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.dashboard .js-all-activity-header + div {
  border-color: var(--border) !important;
}
.dashboard .js-all-activity-header + div .Box {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
  border-radius: 6px !important;
}
.full-commit {
  color: var(--blue) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.full-commit p.commit-title {
  color: var(--blue) !important;
}
.full-commit .sha-block {
  font-size: 14px !important;
  color: var(--faded) !important;
  font-weight: 500 !important;
}
.full-commit .sha-block > .sha {
  color: var(--blue) !important;
}
.full-commit .commit-meta {
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.commit-author-section {
  color: var(--blue) !important;
}
.tabnav {
  border-bottom: 1px solid var(--border) !important;
}
.code-list .file-box,
.code-list .code-list-item + .code-list-item,
.code-list .divider .blob-code,
.code-list .divider .blob-num,
.code-list-item-private .blob-num {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.private .mini-repo-list-item {
  background-color: var(--bg) !important;
}
.orghead {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.orghead .org-name {
  color: var(--blue) !important;
}
.orghead .pagehead-tabs-item.selected {
  color: var(--blue) !important;
  background-color: var(--bg) !important;
}
.tag-info {
  color: var(--blue) !important;
}
.tag-info .tag-name {
  color: var(--text) !important;
}
.note,
.help {
  color: var(--blue) !important;
}
.file-commit-form--full {
  color: var(--bg) !important;
}
.application-main .flex-wrap {
  background-color: transparent !important;
}
.application-main > main > div.border-bottom.border-gray-light {
  background-color: var(--bg) !important;
}
.application-main > main > .site-subnav + div {
  background-color: var(--bg) !important;
}
.application-main > main > .site-subnav + div .text-gray-light {
  color: var(--text) !important;
}
.github-jobs-logo strong {
  filter: invert(1);
}
.team-left-column > div {
  padding-left: 10px !important;
  border-radius: 4px !important;
  border: 1px solid var(--border) !important;
  border-color: var(--border) !important;
  background-color: var(--hl) !important;
}
.TimelineItem-break {
  border-color: var(--alt) !important;
  background-color: transparent !important;
}
code,
pre,
tt {
  font-family: monospace !important;
}
.blob-code-inner {
  color: var(--text) !important;
  font-family: monospace !important;
  font-size: 15px !important;
  line-height: 1.8 !important;
}
.blob-code-inner .highlighted {
  background-color: var(--icon) !important;
}
.blob-num {
  color: var(--hover) !important;
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
  font-weight: 600 !important;
}
.blob-expanded .blob-code,
.blob-expanded .blob-num {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.graphs .area {
  fill: var(--teal);
}
.contrib-person path {
  fill: var(--orange);
}
.menu-item.selected:before,
.menu-item[aria-current]:before {
  background-color: var(--blue) !important;
}
.branch-action-body {
  border: 0px !important;
  background-color: var(--hl) !important;
}
.merge-status-list {
  border-color: var(--border) !important;
}
.merge-status-item {
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.CheckRun {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.CheckRun-header {
  border-color: var(--border) !important;
}
.checks-list-item.selected .checks-list-item-name {
  color: var(--cn) !important;
  background-color: var(--region) !important;
}
.issue-keyword {
  color: var(--purple) !important;
}
.diffbar {
  background-color: var(--bg) !important;
}
.muted-link {
  color: var(--faded) !important;
}
.progress-bar {
  background-color: var(--hl) !important;
}
.pinned-item-list-item .pinned-item-handle {
  color: var(--faded) !important;
}
.js-user-status-container {
  background-color: var(--hl) !important;
}
.github-pr-file span.deletion {
  background-color: var(--red) !important;
}
.github-pr-file span.addition {
  background-color: var(--green) !important;
}
.protip > strong {
  color: var(--yellow) !important;
  text-decoration: underline !important;
}
.protip > svg {
  fill: var(--yellow);
}
.Popover-message::before {
  border-top-color: var(--border);
}
.Popover-message::after {
  border-top-color: var(--alt);
}
.UnderlineNav-item.selected,
.UnderlineNav-item[aria-current],
.UnderlineNav-item[role="tab"][aria-selected="true"] {
  border-bottom-color: var(--blue) !important;
}
.Box--responsive .Box-row--unread {
  box-shadow: inset 2px 0 0 var(--blue) !important;
}
.gh-header-number {
  color: var(--orange) !important;
  font-weight: 400 !important;
  text-decoration: underline !important;
}
.toolbar-item,
.toolbar-item .menu-target {
  color: var(--text) !important;
  transition: color 0.1s ease-in-out !important;
}
.toolbar-item:hover,
.toolbar-item .menu-target:hover {
  color: var(--blue) !important;
  border-color: var(--hl) !important;
}
.body > div.d-flex {
  padding-left: 10px !important;
  padding-right: 10px !important;
}
.pagination-loader-container {
  background-image: none !important;
  background-color: var(--hl) !important;
}
.ajax-pagination-form .ajax-pagination-btn {
  color: var(--blue) !important;
}
.blankslate code {
  color: var(--text) !important;
  border-color: var(--border) !important;
  background-color: var(--bg) !important;
}
.octicon[style="color: #6a737d;"] {
  color: var(--text-gray) !important;
}
.content.p-4.text-center.rounded-1.border.border-gray-light {
  background-color: var(--alt) !important;
}
.MarketplaceBackground-buffer {
  border-color: var(--border) !important;
  background-color: var(--alt) !important;
}
.MarketplaceBackground-reccomendations img {
  filter: invert(1);
}
.marketplace-plan-emphasis {
  color: var(--text) !important;
}
