div#network.network > div > canvas,
img[alt="FOSSA Status"],
img[data-canonical-src*="prod/timeseries/"],
a[href$="vote"] img[data-canonical-src*="/poll/"],
#parallax_error_text:not(p),
img[data-canonical-src*="img.shields.io"][data-canonical-src*="style=social"],
img[alt="Mona Lisa"]
  filter invert(90%) hue-rotate(180deg) contrast(140%) $i
  mix-blend-mode exclusion
.network-
  &current-repository
    c 0 0 7
  &tree
    size 19px 0
    pt 26px
    bgr no-repeat
    bgp -2px center
    $images = {
      t: "data:image/gif;base64,R0lGODlhFAAaAIAAAMzMzP///yH5BAEAAAEALAAAAAAUABoAAAIkjI+pG8APY5O0uorfzRzt3n1g5pSTOTJiSq1s5L6ajMW0YgcFADs="
      i: "data:image/gif;base64,R0lGODlhFAAaAIAAAMzMzP///yH5BAEAAAEALAAAAAAUABoAAAIhjI+pG8APY5O0uorfzRzt3n1gJo6WGaJcqUJsy7ywIgcFADs="
      l: "data:image/gif;base64,R0lGODlhFAAaAIAAAMzMzP///yH5BAEAAAEALAAAAAAUABoAAAIejI+pG8APY5O0uorfzRzt3n1g5pSTOabqyrbuC68FADs="
    }
    for $k, $v in $images
      {S('&[src$="%s.png"]', $k)}
        bgi url($v)
