.notifications-list-item.notification-unread
  c 0 $border $alt
.filter-item
  tr background-color ease-in-out 0.2s
  &:hover
    c 0 0 $hover
  &.selected, &[aria-current], &[aria-selected=true]
    c $cn 0 $icon
.notification-
  &navigation.bg-white
    c 0 0 $bg
  &configure-filters
    octicon $hover
  &navigation &-configure-filters:hover
    octicon $blue
.notifications-list-item
  & &-actions svg
    fill $text
  &:hover
    c 0 0 $hl
    .notification-list-item-actions .btn
      tr background-color 0.2s ease-in-out
      &:hover
        c $cn $border $border
.notifications-dropdown
  c 0 $border $border
  .notifications-list
    mb 0
  &-arrow
    c 0 $alt
  &, &-see-all
    bt $b
    c 0 $border $region
.thread-subscription-status
  c $text $border $bg
