.notification-
  &navigation.bg-white
    c 0 0 $base2
  &configure-filters
    octicon $base9
  &navigation &configure-filters
    octicon $text
    &:hover, &:focus
      octicon $blue
.notifications-
  &list-item
    &.notification-unread
      c 0 $base1 $base4
    & &-actions svg
      v $text
    &:hover, &:focus
      c 0 0 $base5
      .notification-list-item-actions .btn
        ease background-color
        &:hover
          c $cn $base1 $base1
  &dropdown
    c 0 $base1 $base1
    .notifications-list
      mb 0
    &-arrow
      c 0 $base4
    &, &-see-all
      bt $b
      c 0 $base1 $base8
.thread-subscription-status
  c $text $base1 $t
