.notifications-list-item.notification-unread
  c 0 $base1 $base4
.filter-item
  ease background-color
  &:hover
    c 0 0 $base9
  &.selected, &[aria-current], &[aria-selected=true]
    c $cn 0 $base7
.notification-
  &navigation.bg-white
    c 0 0 $base2
  &configure-filters
    octicon $base9
  &navigation &configure-filters
    octicon $text
    &:hover
      octicon $blue
.notifications-list-item
  & &-actions svg
    v $text
  &:hover
    c 0 0 $base5
    .notification-list-item-actions .btn
      ease background-color
      &:hover
        c $cn $base1 $base1
.notifications-dropdown
  c 0 $base1 $base1
  .notifications-list
    mb 0
  &-arrow
    c 0 $base4
  &, &-see-all
    bt $b
    c 0 $base1 $base8
.thread-subscription-status
  c $text $base1 $base2
.Toast
  b $b
  s-2()
  &--error &-icon
    c 0 0 $red
  &--warning &-icon
    c $base2 0 $yellow
  &--success &-icon
    c $base2 0 $teal
  &, &-content
    c $text $base1 $base4
  &-dismissButton
    c $red $base1 $base2
    min-height 100%
    max-height none
