.oauth-org-
  &access-details
    c 0 0 2
    & ^[0]item
      &.revoked
        c 0 0 2

      &.on strong
        c fg('light')
      &:hover
        c 0 0 3
.oauth-
  &permissions-details
    &.open a.btn-sm
      c 0 1 3
    .permission-
      &title
        c fg('faded')
      &summary em.highlight
        b $b
        c fg('light') 0 0
  &org-
    &access-details
      c 0 0 2
      & ^[1]item
        &.revoked
          c 0 0 2
        &.on strong
          c fg('light')
        &:hover
          c 0 0 3
