.oauth-org-
  &access-details
    c 0 0 base(2)
    & ^[0]item
      &.revoked
        c 0 0 base(2)

      &.on strong
        c fg('light')
      &:hover
        c 0 0 base(3)
.oauth-
  &permissions-details
    &.open a.btn-sm
      c 0 base(1) base(3)
    .permission-
      &title
        c fg('faded')
      &summary em.highlight
        b $b
        c fg('light') base(0) base(0)
  &org-
    &access-details
      c 0 0 base(2)
      & ^[1]item
        &.revoked
          c 0 0 base(2)
        &.on strong
          c fg('light')
        &:hover
          c 0 0 base(3)
