.manage-member-meta-item
  c fg("faded")
  & > .octicon
    c fg("secondary")
.org-
  &repos-mini
    ~/repo-mini-
      &item:first-child &cell
        bt none
  &user-notice-content strong
    c $purple
