.gh-header
  background-color unset
  &-sticky.is-stuck + &-shadow
    c 0 0 base(4)
  &-meta
    c fg("primary") base(1)
.Header
  bb $b
  c fg("primary") base(1) base(2)
  &-old
    bb $b
    c fg("primary") base(1) base(2)
body.page-responsive.pagehead
  c 0 0 base(3)
.reponav-
  &wrapper
    c 0 0 base(3)
  &item
    b 1px solid $t
    c fg("dark")
    &, & .octicon
      ease color
    .octicon
      c base(9)
      va middle
    &.selected, &:focus, &:hover
      &, & .octicon
        c fg("secondary")
    &.selected
      c fg("primary") base(1) base(2)
      bbc $t
.pagehead
  &-actions .btn
    c 0 0 base(4)
  &, &-tabs-item, .repohead.experiment-repo-nav
    c 0 base(1) base(3)
    octicon fg("faded")
    // @stlint-ignore
    @media (min-width: 768px)
      c base(4)
.repohead, .repo-list
  .Label--outline
    c fg("primary") base(1)
.site-header
  c 0 base(1) base(4)
.footer, .site-footer
  bt $b
