.gh-header
  background-color unset
  &-sticky.is-stuck + &-shadow
    c 0 0 $base4
  &-meta
    c $text $base1
.Header
  bb $b
  c $text $base1 $base2
body.page-responsive.pagehead
  c 0 0 $base3
.reponav-item
  b none
  c $blue
  .octicon
    c $indigo
    filter contrast(0.5)
    o 0.8
  &:focus, &:hover
    c $blue
  &.selected
    bc $blue $base1 transparent
    c $blue 0 $base2
    .octicon
      c $text
      filter none
      o 1
.pagehead-tabs-item, .pagehead, .repohead.experiment-repo-nav
  c 0 $base1 $base4
  // @stlint-ignore
  @media (min-width: 768px)
    c $base4
.repohead, .repo-list
  .Label--outline
    c $text $base1
.site-header
  c 0 $base1 $base4
