.gh-header
  background-color unset
  &-sticky.is-stuck + &-shadow
    c 0 0 4
  &-meta
    c fg("primary") 4
.Header
  bb $b
  c fg("primary") 1 2
  &-old
    bb $b
    c fg("primary") 1 2
body.page-responsive.pagehead
  c 0 0 3
.reponav-
  &wrapper
    c 0 0 3
  &item
    bd 1px solid $t
    c fg("dark")
    &, & .octicon
      ease colors
    .octicon
      c 9
      va middle
    &.selected, &:focus, &:hover
      &, & .octicon
        c fg("secondary")
    &.selected
      c fg("primary") 1 2
      bbc $t
.pagehead
  &-actions .btn
    c 0 0 4
  &, &-tabs-item, .repohead.experiment-repo-nav
    c fg("dark") $t 3
    octicon fg("faded")
    &.selected
      c fg("light") 1
      bbc $t
      octicon fg("secondary")
    // @stlint-ignore
    @media (min-width: 768px)
      c 0 0 4
.repohead, .repo-list
  .Label--outline
    c fg("primary") 1
.site-header
  c 0 1 4
.footer, .site-footer
  btc base(1)
