.ajax-pagination-
  &form.js-more-repos-form button
    c 0 0 base(3)
    shadow inset 0 1px 0 base(1)
  &form > .Box > .bg-white
    c 0 0 base(4)
    ease background-color, color
  &form > .Box:hover > .bg-white
    c 0 0 base(5)
  &form:not(.js-more-repos-form) &btn
    c fg("faded") base(1) base(4)
    ease color, background-color
    &:hover, &:focus
      c $blue 0 base(6)
.pagination
  a
    c fg("primary") base(1) base(4)
    ease background-color, color
    &:hover
      c $blue 0 base(5)
  .current, [aria-current]
    &, &:hover
      c fg("primary") base(1) dark("blue")
  .disabled, .gap, [aria-disabled=true]
    &, &:hover
      c fg("faded") base(1) base(4)
