.ajax-pagination-
  &form:not(.js-more-repos-form) button
    ../btn
      c $blue
    c 0 base(1) base(4)
.pagination
  a
    c fg("primary") base(1) base(4)
    ease background-color, color
    &:hover
      c $blue 0 base(5)
  .current, [aria-current]
    &, &:hover
      c fg("primary") base(1) dark("blue")
  .disabled, .gap, [aria-disabled=true]
    &, &:hover
      c fg("faded") base(1) base(4)
  &-loader-container
    bgi none
    c 0 0 base(4)
.more-repos
  c 0 0 base(4)
  shadow inset 0 1px 0 base(1)
