.Popover-message
  c $text $base1 $base3
  &:not(&--bottom-right):not(&--top-right):not(&--top-left):not(&--bottom-left)
    caret "bottom"
  &--bottom-right
    caret "top" $base4 $base4
  &--top-right
    caret "bottom" $base4 $base4
  &--top-left
    caret "bottom" $base5
  &--bottom-left
    caret "top"
  /#first-time-contributor &
    caret "right"
