.Popover-message
  c fg("primary") base(1) base(3)
  &:not(&--bottom-right):not(&--top-right):not(&--top-left):not(&--bottom-left)
    caret "bottom"
  &--bottom-right
    caret "top" base(4) base(4)
  &--top-right
    caret "bottom" base(4) base(4)
  &--top-left
    caret "bottom" base(5)
  &--bottom-left
    caret "top"
  /#first-time-contributor &
    caret "right"
