.Popover-message
  c fg("primary") 1 3
  &:not(&--bottom-right):not(&--top-right):not(&--top-left):not(&--bottom-left)
    caret "bottom"
  &--bottom-right
    caret "top" 4 4
  &--top-right
    caret "bottom" 4 4
  &--top-left
    caret "bottom" 5
  &--bottom-left
    caret "top"
  /#first-time-contributor &
    caret "right"
