.profile-timeline
  &.discussion-timeline:before
    c 0 0 5
  &-year-list.bg-white
    bg $t
  &-rollup-content li.d-block.mt-1.py-1
    c 0 0 2
  &-month-heading.bg-white, &year-list
    c 0 0 2
    &:after
      c 0 0 5
