.profile-timeline
  &.discussion-timeline:before
    c 0 0 $base5
  &-year-list.bg-white
    bg $t
  &-rollup-content li.d-block.mt-1.py-1
    c 0 0 $base2
  &-card.bg-white
    c 0 0 $base5
  &-month-heading.bg-white, &year-list
    c 0 0 $base2
    &:after
      c 0 0 $base5
.discussion-
  &item-icon
    c $text $base5 $base7
  &timeline-actions
    c 0 $base5 $t
  &sidebar-
    &heading
      c $text
    &item
      c $faded $border
      fw 500
