.github-jobs-logo strong
  inv()
.pinned-item-
  &list-item &handle, &name
    c $faded
  &checkbox:checked + &name
    c $text $base1 $base7
.profile-rollup-wrapper
  &+&
    bt 1px solid $base5
.activity-overview-
  &percentage
    v $cn
  &label
    v $faded
.user-profile-
  &nav
    b $b
    px 10px
    r 8px
  &sticky-bar:after
    c 0 $base1 $base2
.js-profile-editable-edit-button
  c $cn $base1 $base5
.vcard-
  &username
    c $textGray
  &detail
    octicon $faded
.user-status-container-border-busy
  b $b
  c 0 $yellow $yellowTrans
.js-user-status-container
  c 0 0 $base5
