progress
  .&-bar
    c 0 0 5
    &-inline &
      c 0 1
  .reverse-&-
    &bar, &container
      c 0 0 5
    &container
      bgi linear-gradient(90deg, v("green"), v("blue"), v("purple"), v("red"), v("orange"))
  .task-&
    c fg("faded")
    .^[0]-bar .^[0]
      c 0 0 8
