.project-
  &issue-body-blur { bg: linear-gradient(0deg, black, rgba(0, 0, 0, 0)); }
  &column { c: 0 0 $alt; }
  &pane.bg-white { c: 0 0 $hl; }
  &header { c: 0 0 $bg; }
  &card:hover { c: 0 $border; }

.btn.btn-outline,
.d-flex.js-socket-channel.js-updatable-content.mb-2.border.rounded-1.p-2
  c: 0 0 $alt

.d-flex.flex-row.flex-items-center.f6 { c: 0 0 $bg; }

.comment-reactions.has-reactions.js-reactions-container.js-socket-channel.js-updatable-content
  c: 0 $border $bg
