.task-progress
  c $faded
  .progress-bar .progress
    c 0 0 $region
.compare-pr-placeholder
  c 0 $border $hl
  p
    c $text
.range-editor
  c 0 $border $alt
  &-icon
    c $faded
.select-menu
  &-tabs
    c 0 $border
    ../-tab-nav
      &.selected, &[aria-selected="true"], a.selected, a[aria-selected="true"]
        bc $border $border $hl
        c $cn 0 $hl
.blob-code-
  &addition
    c 0 0 $tealTrans
  &deletion
    c 0 0 $redTrans
.Progress
  c 0 0 $icon
.github-pr-file span
  &.deletion
    c 0 0 $red
  &.addition
    c 0 0 $green
.SelectMenu-
  &blankslate, &loading, &message
    c $text $border $alt
  &item
    tr background-color 0.1s ease-in-out
    &:hover
      c 0 0 $hl
.status-meta,
.merge-pr-more-commits
  c $faded
ul.comparison-list
  c 0 $border $alt
  & > li
    c $text $border $alt
    em
      c $faded
  & > li.title
    c $text $border $hl
.branch-
  &action-state-clean
    ../action-body::before
      brc $hl
  &action-state-clean &action-icon, &action-item-icon
    c $border 0 $green
    .octicon
      fill $border
  &infobar
    c 0 $border $alt
  &action-body
    b 0
    c 0 $border $hl
    caret "right"
    .merge-
      &branch-form, &message
        c 0 $border $alt
.merge-status-
  &list
    c 0 $border
  &item
    c 0 $border $alt
.timeline-comment
  c $text $border $hl
  &-wrapper
    b 0
    c 0 $border
  &-label.tooltipped.tooltipped-s.tooltipped-multiline
    c $purple $purple $purpleTrans
  &-header
    c $cn $border $alt
  &--caret
    &, &.current-user
      &::before, &::after
        brc $alt
