.task-progress
  c $faded
  .progress-bar .progress
    c 0 0 $base8
.compare-pr-placeholder
  c 0 $base1 $base5
  p
    c $text
.comment-reactions
  .user-has-reacted
    c 0 $base1 $base5
  &.has-reactions
    c 0 $base1 $base4
.range-editor
  c 0 $base1 $base4
  &-icon
    c $faded
.Progress
  c 0 0 $base7
.github-pr-file span
  &.deletion
    c 0 0 $red
  &.addition
    c 0 0 $green
.status-meta,
.merge-pr-more-commits
  c $faded
ul.comparison-list
  c 0 $base1 $base4
  & > li
    c $text $base1 $base4
    em
      c $faded
  & > li.title
    c $text $base1 $base5
.merge-
  &branch-description
    c $faded
  &status-
    &list
      c 0 $base1
    &item
      c 0 $base1 $base4
.timeline-comment
  c $text $base1 $base5
  /:target &
    s 0 0 0 0.2em $base1
    &::before
      filter drop-shadow(-0.28em 0 0 $base1)
  &-wrapper
    b 0
    c 0 $base1
  &-label.tooltipped.tooltipped-s.tooltipped-multiline
    c $purple $purple $purpleTrans
  &-header
    c $cn $base1 $base4
  &--caret
    &, &.current-user
      &::before, &::after
        brc $base4
.composer.composer-responsive .timeline-comment
  caret "right"
.js-resolvable-timeline-thread-form
  c 0 0 $base4
.review-
  &thread-reply
    c 0 $base1 $base3
    .inline-comment-form
      c 0 0 $base3
  &comment
    c $text $base1 $base4
.gh-header-number
  c $orange
  fw 400
  td underline
.CheckRun
  c 0 $base1 $base4
  &-header
    c 0 $base1
.checks-list-item
  &.selected &-name
    c $cn 0 $base8
