.compare-pr-placeholder
  c 0 $base1 $base5
  p
    c $text
.range-editor
  c 0 $base1 $base4
  &-icon
    c $faded
.Progress
  c 0 0 $base7
.github-pr-file span
  &.deletion
    c 0 0 $red
  &.addition
    c 0 0 $green
ul.comparison-list
  c 0 $base1 $base4
  & > li
    c $text $base1 $base4
    em
      c $faded
  & > li.title
    c $text $base1 $base5
.merge-
  &pr-more-commits, .status-meta
    c $faded
  &branch-description
    c $faded
  &status-
    &list
      c 0 $base1
    &item
      c 0 $base1 $base4
.gh-header-number
  c $orange
  fw 400
  td underline
.CheckRun
  c 0 $base1 $base4
  &-header
    c 0 $base1
.checks-list-item
  &.selected &-name
    c $cn 0 $base8
