.branch-infobar
  c $placeholder $base1 $base4
.social-count
  c $blue $base1 $base5
  &:hover
    c $cn
#readme
  .Box-header
    ease background-color
    c 0 $base1 $base3
    o 1
    &:hover
      c 0 0 $base2
    .octicon-pencil
      c $indigo
      ease color
      ../:hover ^[2..-1]
        c $blue
table
  &.files
    c $text $base1 $base5
    td
      c 0 $base1
      &.age
        c $text
      &.icon
        c $text
    tr.navigation-focus, tr[aria-selected=true]
      td
        c 0 0 $base5
  .&-list
    bb $b
    &-cell
      bt $b
    &-bordered &-cell
      &:first-child
        bl $b
      &:last-child
        br $b
    &-header
      c 0 $base1 $base4
      &-toggle .btn-link
        &:hover, &.selected
          c $blue
.js-recent-activity-container > div > div
  c 0 0 $base2
.repository-lang-stats-
  ol&numbers li .lang
    c $cn
  &graph
    c 0 $base1
.repository-content > div.bg-white:first-child
  c 0 0 $base2
.flash
  c $cn $base1 $base4
  &-warn
    c $yellow
