*:not(select)
  sbc $sb $base2
  sbw $sbWidth
::-webkit-scrollbar
  &, .integrations-select-repos&
    max-size $wbSbSize
    &, &-corner, &-track, &-track-piece
      bg $base2
      &:hover
        bg $base5
    &-thumb
      bg $sb
      r $wbSbRadius
      &:hover
        bg $blue
