*:not(select)
  sbc scrollbar("thumb") base(2)
  sbw thin
::-webkit-scrollbar
  &, .integrations-select-repos&
    max-size scrollbar("chrome-size")
    &, &-corner, &-track, &-track-piece
      bg base(2)
      &:hover
        bg base(5)
    &-thumb
      bg scrollbar("thumb")
      r scrollbar("chrome-radius")
      &:hover
        bg v("blue")
