.filter-bar
  bb $b
  c 0 0 $alt
.form-control, .form-select
  bs none
.form-control.search-page-label.js-advanced-search-label
  &, & input
    c 0 0 $hl
.code-list
  .file-box, & &-item + &-item, .divider .blob-code, .divider .blob-num, &-item-private .blob-num
    c $text $border $hl
  &-item
    &.hx_hit-code&-public.repo-specific
      c 0 0 $bg
.jump-to-field-active, .js-navigation-item:hover, #jump-to-results:hover
  c 0 0 $hl
.jump-to-suggestions
  &-results-container .navigation-focus &-path
    c 0 0 $region
#commit_search_results .commit
  bx $b
  c $text $border $alt
  px 8px
