.SelectMenu-
  &closeButton
    c $faded
  &header
    bbc $base1
  &filter
    btc $base1
  &icon--check
    c $green
  &divider
    c $text $base1 $base2
  &list
    c 0 $base1 $base3
  &item, &modal
    c 0 $base1 $base4
  &blankslate, &loading, &message
    c $text $base1 $base4
  &footer
    c $text $base1 $base4
    kbd
      fs unset
  &item
    c $text $base1
    ease background-color
    @media (hover: hover)
      &:not([aria-selected="true"])
        &:hover
          c $cn 0 $base7
        &:active
          c $cn 0 $base8
      &:hover
        c 0 0 $base5
      &:active
        c 0 0 $base3
      &:focus
        c 0 0 $base6
    &[aria-checked="true"]
      c $cn
  &tabs
    btc $base1
  &tab
    c $text $base1 $base2
    &[aria-selected="true"]
      c $cn $base1 $base4
      @media (min-width: 544px)
        c 0 $base1
    &:not([aria-checked="true"])
      &:active, &:hover
        @media(hover: hover)
          c 0 $base2
.select-menu-
  &button.primary
    &:after
      btc $base2
    &:active
      c 0 $green $greenTrans
  &blankslate
    h3
      c $text
    svg
      v $textAlt
  &loading-overlay
    c 0 0 $base2
  &header
    octicon $faded
  &action
    c $faded
    ease color
    &:hover
      c $blue
  &header, &header &title
    c $cn $base1 $base2
  &modal, &item
    c $text $base1 $base4
  &divider
    c $text $base1 $base4
  &filters
    c $text $base1 $base3
  &no-results
    c $faded $base1 $base4
  &text-filter
    &:first-child, &:last-child
      c 0 $base1
    &::placeholder
      c $placeholder
  &new-item-form .octicon
    c $blue
  &item
    ease background-color
    &-text .description
      &, &-inline
        c $faded
      &-warning
        c $red
    .excluded
      c 0 0 $base3
    .octicon-circle-slash
      &, ^[1].selected &^[1]-icon
        c $faded
    &.disabled, &.disabled.selected, &[aria-disabled="true"], &[disabled]
      &, & .description
        c $faded
        o 0.6
    &:hover, &:focus
      c 0 0 $base6
  &tabs
    c 0 $base1
    ~/tab-nav, &, a
      &.selected, &[aria-selected="true"], &[aria-current]
        bc $base1 $base1 $base4
        c $cn 0 $base4
  &modal
    s-2()
    &-right.details-reset.details-overlay.mb-2, .js-org-filter-link.f6.py-1.pr-2.pl-1.rounded-1.mr-2.mb-2.subnav-item.css-truncate.css-truncate-target
      c 0 0 $base4
