.SelectMenu-
  &closeButton
    c fg("faded")
  &header
    bbc base(1)
  &filter
    btc base(1)
  &icon--check
    c $green
  &divider
    c fg("primary") base(1) base(2)
  &list
    c 0 base(1) base(3)
  &item, &modal
    c 0 base(1) base(4)
  &blankslate, &loading, &message
    c fg("primary") base(1) base(4)
  &footer
    c fg("primary") base(1) base(4)
    kbd
      fs unset
  &item
    c fg("primary") base(1)
    ease background-color
    @media (hover: hover)
      &:not([aria-selected="true"])
        &:hover
          c fg("light") 0 base(7)
        &:active
          c fg("light") 0 base(8)
      &:hover
        c 0 0 base(5)
      &:active
        c 0 0 base(3)
      &:focus
        c 0 0 base(6)
    &[aria-checked="true"]
      c fg("light")
  &tabs
    btc base(1)
  &tab
    c fg("primary") base(1) base(2)
    &[aria-selected="true"]
      c fg("light") base(1) base(4)
      @media (min-width: 544px)
        c 0 base(1)
    &:not([aria-checked="true"])
      &:active, &:hover
        @media(hover: hover)
          c 0 base(2)
.select-menu-
  &button.primary
    &:after
      btc base(2)
    &:active
      c 0 $green t("green")
  &blankslate
    h3
      c fg("primary")
    svg
      vc fg("secondary")
  &loading-overlay
    c 0 0 base(2)
  &header
    octicon fg("faded")
  &action
    c fg("faded")
    ease color
    &:hover
      c $blue
  &header, &header &title
    c fg("light") base(1) base(2)
  &modal, &item
    c fg("primary") base(1) base(4)
  &divider
    c fg("primary") base(1) base(4)
  &filters
    c fg("primary") base(1) base(3)
  &no-results
    c fg("faded") base(1) base(4)
  &text-filter
    &:first-child, &:last-child
      c 0 base(1)
    &::placeholder
      c fg("placeholder")
  &new-item-form .octicon
    c $blue
  &item
    ease background-color, color
    &-text .description
      &, &-inline
        c fg("faded")
      &-warning
        c $red
    .excluded
      c 0 0 base(3)
    .octicon-circle-slash
      &, ^[1].selected &^[1]-icon
        c fg("faded")
    &.disabled, &.disabled.selected, &[aria-disabled="true"], &[disabled]
      &, & .description
        c fg("faded")
        o 0.6
    &:hover, &:focus
      c 0 0 base(6)
  &tabs
    c 0 base(1)
    ^[0]tab-nav, & a
      c fg("dark")
      ease color
      &:hover, &:focus
        c fg("primary")
      &.selected, &[aria-selected="true"], &[aria-current]
        bc base(1) base(1) base(4)
        c fg("light") 0 base(4)
  &modal
    elevation 2
