.user-key-
  &email, &badge
    c 0 $base1 $base5
  &email-unverified
    c $yellow $base1 $base3
.oauth-border
  c 0 $border
.access-form-wrapper
  c 0 $base1 $base4
.recent-user-key-access
  c $green
p.explain
  c $faded
  strong
    c $textAlt
.access-token
  bbc $base1
.license-container
  c 0 $base1
