.user-key-
  &email, &badge
    c 0 base(1) base(5)
  &email-unverified
    c v("yellow") base(1) base(3)
.oauth-border
  c 0 base(1)
.access-form-wrapper
  c 0 base(1) base(4)
.recent-user-key-access
  c v("green")
p.explain
  c fg("faded")
  strong
    c fg("secondary")
.access-token
  bbc base(1)
.token-scope
  c fg("primary")
.license-container
  c 0 base(1)
.edit-profile-avatar .manual-file-chooser
  o 0
.email-preference-exceptions .exception
  c 0 base(1)
.saved-reply-form
  c 0 base(4)
