.orgs-help-
  &shelf
    b $b
    c 0 0 $base3
    m 3% 4%
    r 4px
    s-1()
    & > .container-lg
      px 0px
  &lead
    c $faded
  &item-octicon
    c 0 $base1 $base4
    octicon $blue
  &item-content
    c $textAlt
