.orgs-help-
  &shelf
    b $b
    c 0 0 3
    m 3% 4%
    r 4px
    elevation 1
    & > .container-lg
      px 0px
  &lead
    c fg("faded")
  &item-octicon
    c 0 1 4
    octicon v("blue")
  &item-content
    c fg("secondary")
