.SideNav
  c fg("primary") 1 4
  &-item
    c 0 1
    ease colors
    +current-page()
      &::before
        c 0 0 v("blue")
    +current-page()
      &, ^[1]:focus, ^[1]:hover
        c 0 0 5
        &::before
          c 0 0 7
    &:last-child
      shadow 0 1px 0 base(1)
