.SideNav
  c $text $base1 $base4
  &-item
    c 0 $base1
    ease background-color, color
    &[aria-current="page"], &[aria-selected="true"]
      c 0 0 $base5
      &::before
        c 0 0 $blue
    &:focus, &:hover
      c 0 0 $base5
      &::before
        c 0 0 $base7
    &:last-child
      s 0 1px 0 $base1
