state($sel, $color, $background)
  .State--{$sel}
    b 1px solid $color
    c $color $color $background
    .octicon
      vc $color

state('green', $teal, t("teal"))
state('purple', $purple, t("purple"))
state('red', $red, t("red"))
