state($sel, $color, $background)
  .State.State--{$sel}
    b 1px solid $color
    c $color $color $background
    .octicon
      vc $color

state('green', v("teal"), t("teal"))
state('purple', v("purple"), t("purple"))
state('red', v("red"), t("red"))
.state, .State
  c fg("primary") 0 base(7)
