.site-subnav.bg-white
  bb $b
  c 0 3 3
  ease colors
  &.is-stuck
    bb $b
    c 0 1 2
    elevation 1
.subnav-
  &link
    c fg("dark")
    &:hover
      bbc base(9)
      c fg("primary")
    &.selected
      bbc v("blue")
      c fg("light")
  &bordered
    c 0 1
  &item
    c 0 1 4
    ease colors
    &:focus, &:hover
      c 0 0 6
    &.selected
      &, &:focus, &:hover
        bbc v("blue")
        c 0 1 5
.btn
  &-link:not(.IssueLabel):not(.tabnav-tab):not(.dropdown-item):not(.muted-link):not(.selected-color-white):not(.pagehead-tabs-item), .subnav-search-context &
    c fg("dark")
    ease colors
    &:hover, &.selected
      c v("blue")
  &&-primary, .js-selected-navigation-item.subnav-item
    c 0 0 5
.application-main > main > .site-subnav + div
  c 0 0 2
  .text-gray-light
    c fg("primary")
