.site-subnav.bg-white
  bb $b
  c 0 base(3) base(3)
  ease box-shadow, background-color, border-color
  &.is-stuck
    bb $b
    c 0 base(1) base(2)
    elevation 1
.subnav-
  &link.selected
    bbc v("blue")
  &bordered
    c 0 base(1)
  &item
    c 0 base(1) base(4)
    ease border-color, background-color
    &:focus, &:hover
      c 0 0 base(6)
    &.selected
      &, &:focus, &:hover
        bbc v("blue")
        c 0 base(1) base(5)
.btn
  &-link:not(.IssueLabel):not(.tabnav-tab):not(.dropdown-item), .subnav-search-context &
    c v("blue")
  &&-primary, .js-selected-navigation-item.subnav-item
    c 0 0 base(5)
.application-main > main > .site-subnav + div
  c 0 0 base(2)
  .text-gray-light
    c fg("primary")
