.suggester
  c fg("primary") 1 3
  li
    c 0 1
    small
      c 0 0 fg("faded")
    &.navigation-focus, &:hover, &[aria-selected="true"]
      c 0 0 dark("blue")
    &.selected, &[aria-selected="true"], &[aria-current]
      c 0 0 6
