.cm-s-github-light
  /.CodeMirror-gutter.CodeMirror-linenumbers, .CodeMirror-gutters
    c $indigo $border $alt
  &.CodeMirror
    c $text $border $hl
  .CodeMirror-lines
    c 0 0 $hl
.CodeMirror-linenumber.CodeMirror-gutter-elt
  fw 500
.code .s1
  c $green
.pl-
  &c /* comment, punctuation.definition.comment, string.comment */
    c $indigo
  &c1, &s &v /* string variable */
    c $text
  &e, &en /* entity.name */
    c $blue
  &ent, &smi, &s &s1 /* string source */
    c $redLight
  &k /* keyword, storage, storage.type */
    c $purple
  &s &pse &s1, &pds /* punctuation.definition.string, source.regexp, string.regexp.character-class */
    c $cyan
  &sr /* string.regexp */
    c $cyan
  &sr &cce /* string.regexp constant.character.escape */
    c $redLight
  &s, &sr &sre, &sr &sra /* string.regexp string.regexp.arbitrary-repitition */
    c $green
  &v /* variable */
    c $pink
  &smw /* sublimelinter.mark.warning */
    c $yellow
  &bu /* invalid.broken, invalid.deprecated, invalid.unimplemented, message.error, brackethighlighter.unmatched, sublimelinter.mark.error */
    c $red
  &ii /* invalid.illegal */
    c $cn 0 $red
  &c2 /* carriage-return */
    c $cn 0 $red
  &c2::before /* carriage-return */
    content "^M"
  &sr &cce /* string.regexp constant.character.escape */
    c $redLight
    fw bold
  &ml /* markup.list */
    c $orange
  &mh &en, &ms /* met,.separator */
    c $cyan
  &mh /* markup.heading */
    c $green
    fw bold
  &mi /* markup.italic */
    c $yellow
    font-style italic
  &mb /* markup.bold */
    c $cn
    fw bold
  &md /* markup.deleted, meta.diff.header.from-file, punctuation.definition.deleted */
    c $red 0 $redTrans
  &mi1 /* markup.inserted, meta.diff.header.to-file, punctuation.definition.inserted */
    c $teal 0 $tealTrans
  &mc /* markup.changed, punctuation.definition.changed */
    c $cyan 0 $cyanTrans
  &mdr /* meta.diff.range */
    c $teal
    fw bold
  &ba /* brackethighlighter.tag, brackethighlighter.curly, brackethighlighter.round, brackethighlighter.square, brackethighlighter.angle, brackethighlighter.quote */
    c $hover
  &s1, &smi
    c $pink
  &sg /* sublimelinter.gutter-mark */
    c $faded
  &corl /* constant.other.reference.link, string.other.link */
    td underline
