$cmColors = {
  atom: v("blue")
  attribute: v("yellow")
  punctuation: fg("primary")
  comment: v("indigo")
  def: v("blue")
  number: v("orange")
  property: v("teal")
  operator: v("cyan")
  string: v("green")
  string-2: v("green")
  keyword: v("purple")
}
map-record($cmColors, '.cm-', color)
code, pre, tt
  set-font "mono"
.CodeMirror-
  &linenumber&gutter-elt
    fw 500
.cm-s-github-light
  &.CodeMirror
    c fg("primary") base(1) base(5)
  .CodeMirror-
    /&gutter&linenumbers, &gutters
      c v("indigo") base(1) base(4)
    &lines
      c 0 0 base(5)
    &linenumber
      c v("indigo")
.code .s1
  c v("green")
.pl-
  &c, &c a
    c v("indigo")
  &c1
    c v("orange")
  &sr &sre, &sr &sra, &s
    &, & a
      c v("green")
  &s1, &s &v, &s1 a
    c fg("primary")
  &e, &en
    c v("blue")
  &s1 &kos
    c v("cyan")
  &v, &s > &smi, &ent
    c alt("red")
  &k
    c v("purple")
  &s &pse &s1, &pds
    c v("cyan")
  &sr
    c v("cyan")
    ^[0]cce
      c alt("red")
      fw bold
  &smw
    c v("yellow")
  &bu
    c v("red")
  &c2, &ii
    c fg("light") 0 v("red")
  &c2::before
    content "^M"
  &ml
    c v("orange")
  &mh &en, &ms
    c v("cyan")
  &mh
    c v("green")
    fw bold
  &mi
    c v("yellow")
    font-style italic
  &mb
    c fg("light")
    fw bold
  &md
    c v("red") 0 t("red")
  &mi1
    c v("teal") 0 t("teal")
  &mc
    c v("cyan") 0 t("cyan")
  &mdr
    c v("teal")
    fw bold
  &pse
    c v("cyan")
  &ba
    c base(9)
  &smi
    c v("yellow")
  &kos
    c fg("secondary")
  &sg
    c fg("faded")
  &corl
    td underline
