.table-list
  bb $b
  c fg("primary") base(1) base(3)
  &-cell
    bt $b
  &-bordered &-cell
    &:first-child
      bl $b
    &:last-child
      br $b
  &-item
    &.unread ^[0]-cell:first-child
      shadow inset 2px 0 0 v("blue")
  &-header
    c 0 base(1) base(4)
    &-meta
      c fg("secondary")
    &-toggle .btn-link
      &:hover, &.selected
        c v("blue")
