.table-list
  bb $b
  c $text $base1 $base3
  &-cell
    bt $b
  &-bordered &-cell
    &:first-child
      bl $b
    &:last-child
      br $b
  &-item
    &.unread ^[0]-cell:first-child
      s inset 2px 0 0 $blue
  &-header
    c 0 $base1 $base4
    &-meta
      c $textAlt
    &-toggle .btn-link
      &:hover, &.selected
        c $blue
