$iconColors = {
  removed: v("red")
  renamed: v("cyan")
  modified: v("purple")
  added: v("green")
}

.toc-select
  .select-menu
    &-item
      &-text
        c fg("light")
      &-icon
        map-record($iconColors, '&.octicon-diff-', color)
.table-of-contents
  map-record($iconColors, '.octicon-diff-', color)
  li
    & + &
      btc base(1)

.select-menu-item + .semantic-toc-file:after,
.semantic-toc-symbol:not(.last-visible):after
  c 0 1 3
