$iconColors = {
  removed: $red
  renamed: $cyan
  modified: $purple
  added: $green
}

.toc-select
  .select-menu
    &-item
      &-text
        c fg("light")
      &-icon
        map-record($iconColors, '&.octicon-diff-', color)
.table-of-contents
  map-record($iconColors, '.octicon-diff-', color)
  li
    & + &
      btc base(1)

.select-menu-item + .semantic-toc-file:after,
.semantic-toc-symbol:not(.last-visible):after
  c 0 base(1) base(3)
