.table-list
  bb $b
  c fg("primary") 1 3
  &-cell
    bt $b
  &-bordered &-cell
    &:first-child
      bl $b
    &:last-child
      br $b
  &-item
    &.unread ^[0]-cell:first-child
      shadow inset 2px 0 0 v("blue")
  &-header
    c 0 1 4
    &-meta
      c fg("secondary")
