.tabnav
  bb $b
  /.container-preview &-tabs
    ml 5%
  &-extra, &-tab
    c $faded
  &-pr &-tab
    &.selected, &[aria-selected="true"], &[aria-current]
      c 0 0 $base2
  &-tabs.js-file-editor-nav &-tab
    c $faded $base1 $base2
    mt 8px
    rt 6px
  &--responsive &-tab, &-tab
    c $faded $base1
    &.selected, &[aria-selected="true"], &[aria-current]
      c $text $base1 $base5
      &.js-blob-edit-
        &code, &preview
          c $blue $base1 $base5
