.team-
  &discussions .UnderlineNav
    b $b
    r 4px
  &left-column
    &.bg-white, & > div
      c 0 base(1) base(3)
    &[aria-label="Explore"]
      & > div
        b $b
        box()
        pl 10px
        r 4px
      &.bg-white
        c 0 0 base(2)
