.team-left-column
  & > div
    c 0 $border $bg
  &[aria-label="Explore"]
    & > div
      b $b
      box()
      pl 10px
      r 4px
    &.bg-white
      c 0 0 $alt
.orgs-help-item-octicon
  c 0 $border $alt
