.TimelineItem
  &-badge
    c 0 $base5 $base4
    ~/:target &-bage
      c 0 $blue
    ~/--condensed &
      size 30px
  &-break
    c 0 $base4 $t
  &, .status-meta, .merge-pr-more-commits
    &:before
      c 0 0 $base5
    &-badge, &--condensed &-badge
      b 2px solid $base5
      c $base9 $base5 $base4
    &-body
      c $faded
timeline
  .deployments-&
    bbc $base1
    &-item
      blc $base9
  .&-commits .hidden-text-expander .ellipsis-expander
    c 0 0 $base4
  .&-
    &new-comment .previewable-comment-form .comment-body
      c 0 $base1
    &comment
      c $text $base1 $base5
      /.composer.composer-responsive &
        caret "right"
      /:target &
        s 0 0 0 0.2em $base1
        &::before
          filter drop-shadow(-0.28em 0 0 $base1)
      &-wrapper
        b 0
        c 0 $base1
      &-label.tooltipped.tooltipped-s.tooltipped-multiline
        c $purple $purple $purpleTrans
      &-header
        c $cn $base1 $base4
      &--caret
        &, &.current-user
          &::before, &::after
            brc $base4
