.Toast
  b $b
  elevation 2
  &--error &-icon
    c 0 0 v("red")
  &--warning &-icon
    c base(2) 0 v("yellow")
  &--success &-icon
    .octicon-check
      c base(2)
    c base(2) 0 v("teal")
  &, &-content
    c fg("primary") base(1) base(4)
  &-dismissButton
    c fg("faded") base(1) base(2)
    max-height none
    min-height 100%
    &:focus, &:hover, &:active
      c v("red")
