.Toast
  b $b
  elevation 2
  &--error &-icon
    c 0 0 v("red")
  &--warning &-icon
    c 2 0 v("yellow")
  &--success &-icon
    .octicon-check
      c 2
    c 2 0 v("teal")
  &, &-content
    c fg("primary") 1 4
  &-dismissButton
    c fg("faded") 1 2
    max-height none
    min-height 100%
    &:focus, &:hover, &:active
      c v("red")
