.Toast
  b $b
  s-2()
  &--error &-icon
    c 0 0 $red
  &--warning &-icon
    c $base2 0 $yellow
  &--success &-icon
    .octicon-check
      c $base2
    c $base2 0 $teal
  &, &-content
    c $text $base1 $base4
  &-dismissButton
    c $faded $base1 $base2
    max-height none
    min-height 100%
    &:focus, &:hover, &:active
      c $red
