.tag-info
  c v("blue")
  ../-name
    c fg("primary")
.topic-
  &box .bg-white
    ease colors
    c 0 0 3
    &:hover
      c 0 0 2
  &list-item
    &+&
      btc base(1)
  &tag
    bd $b
    c fg("primary") 1 4
    ease colors
    &-outline
      shadow inset 0 0 0 1px base(1)
    &-link
      &:hover, &:focus
        c fg("light") 0 7
    &-action
      &, button, a
        c v("blue") v("blue") t("blue")
