.topic-tag
  b $b
  &-outline
    s inset 0 0 0 1px $base1
  &-link:hover
    c 0 0 $base8
  c $text $base1 $base4
  ease background-color
  &-action
    &, button, a
      c $blue $blue $blueTrans
.tag
  &-info
    c $blue
    ../-name
      c $text
