.follow-list
  & &-info
    & > a:hover > span
      octicon fg("primary")
      c fg("light")
    &, & > a > span
      c fg("dark")
      octicon fg("secondary")
      &, & .octicon
        ease colors
