:root
  --alt #1e2030
  --bg #191b28
  --blue #82aaff
  --blue-light lighten(#82aaff, 0.1)
  --border #131421
  --cn #ffffff
  --cyan #86e1fc
  --cyan-light #b4f9f8
  --cyan-trans #86e1fcbb
  --elevation-md 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06)
  --faded #7f85a3
  --green #c3e88d
  --green-trans rgba(#77e0c6, 0.2)
  --hl #212337
  --hover #444a73
  --icon #2f334d
  --indigo #7a88cf
  --light-red #ff757f
  --orange #ff995e
  --pink #fca7ea
  --placeholder #c8d3f5aa
  --purple #c597f9
  --purple-alt #c099ff
  --red #ff5370
  --red-trans rgba(#ff5370, 0.2)
  --region #383e5c
  --sb #828bb830
  --teal #4fd6be
  --text #c8d3f5
  --text-alt #b4c2f0
  --text-gray #a9b8e8
  --yellow #ffc777
// Colors
$blue = var(--blue)
$blue-light = var(--blue-light)
$purple = var(--purple)
$pink = var(--pink)
$red = var(--red)
$yellow = var(--yellow)
$orange = var(--orange)
$teal = var(--teal)
$cyan = var(--cyan)
$cyanAlt = var(--cyan-alt)
$purpleAlt = var(--purple-alt)
$green = var(--green)
$border = var(--border)
$indigo = var(--indigo)
$bg = var(--bg)
$lightRed = var(--light-red)
$alt = var(--alt)
$region = var(--region)
$hl = var(--hl)
$icon = var(--icon)
$hover = var(--hover)
$faded = var(--faded)
$text = var(--text)
$placehold = var(--placeholder)
$redTrans = var(--red-trans)
$cyanTrans = var(--cyan-trans)
$greenTrans = var(--green-trans)
$textGray = var(--text-gray)
$textAlt = var(--text-alt)
$cn = var(--cn)
$sb = var(--sb)
$b = 1px solid $border
