$blue = var(--blue)
$blue-light = var(--blue-light)
$purple = var(--purple)
$red = var(--red)
$yellow = var(--yellow)
$orange = var(--orange)
$teal = var(--teal)
$green = var(--green)
$border = var(--border)
$indigo = var(--indigo)
$bg = var(--bg)
$alt = var(--alt)
$region = var(--region)
$hl = var(--hl)
$icon = var(--icon)
$hover = var(--hover)
$faded = var(--faded)
$text = var(--text)
$placehold = var(--placeholder)
$textGray = var(--text-gray)
$textAlt = var(--text-alt)
$cn = var(--cn)
$sb = var(--sb)
$b = 1px solid $border;
$uiFont = var(--ui-font);
$monoFont = var(--mono-font);
