:root
  --blue: #82aaff
  --blue-light: lighten(#82aaff, 0.1)
  --purple: #c597f9
  --red: #ff5370
  --teal: #4fd6be
  --green: #c3e88d
  --indigo: #7a88cf
  --placeholder: #c8d3f5aa
  --border: #131421
  --bg: #191b28
  --alt: #1e2030
  --yellow #ffc777
  --orange #ff995e
  --region: #383e5c
  --hl: #212337
  --icon: #2f334d
  --hover: #444a73
  --faded: #7f85a3
  --text-alt: #b4c2f0
  --text-gray: #a9b8e8
  --text: #c8d3f5
  --sb: #828bb830
  --cn: #ffffff
  --elevation-md 0 4px 6px -1px rgba(0, 0, 0, .1), 0 2px 4px -1px rgba(0, 0, 0, .06)

// Colors
$blue = var(--blue)
$blue-light = var(--blue-light)
$purple = var(--purple)
$red = var(--red)
$yellow = var(--yellow)
$orange = var(--orange)
$teal = var(--teal)
$green = var(--green)
$border = var(--border)
$indigo = var(--indigo)
$bg = var(--bg)
$alt = var(--alt)
$region = var(--region)
$hl = var(--hl)
$icon = var(--icon)
$hover = var(--hover)
$faded = var(--faded)
$text = var(--text)
$placehold = var(--placeholder)
$textGray = var(--text-gray)
$textAlt = var(--text-alt)
$cn = var(--cn)
$sb = var(--sb)
$b = 1px solid $border;
