.hook-
  &item
    c 0 0 4
  &delivery-
    &time
      c fg("faded")
    &guid
      b $b
      c fg("primary") 1 4
    &container
      .highlight pre, pre
        c 0 0 4
      .tabnav-tab
        +selected()
          c 0 0 2
